Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

feat(gce): rewrite test in Java for GoogleDiskTest
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskSpec.groovy
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): fix spotless violations
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(gce): return Scheduling object instead ServiceAccount
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(gce): split BasicGoogleDeployHandler into small methods and change it to java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(gce): write test for BasicGoogleDeployHandler.java
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(gce): deprecate BasicGoogleDeployHandler.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(gce): check if acceleratorConfig is not null
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(gce): check if acceleratorConfig is not null
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(gce): check if getUseSourceCapacity is not null
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(cloudfoundry): Update ProcessStats model due to capi-1.84.0 changes (#6283)
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/ProcessStats.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/CloudFoundryOperationUtils.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

fix(cloudfoundry): Update ProcessStats model due to capi-1.84.0 changes (#6283)
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/ProcessStats.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/CloudFoundryOperationUtils.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

fix(cloudfoundry): Update ProcessStats model due to capi-1.84.0 changes (#6283)
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/ProcessStats.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/CloudFoundryOperationUtils.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

fix(cloudfoundry): Update ProcessStats model due to capi-1.84.0 changes (#6283)
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/ProcessStats.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/CloudFoundryOperationUtils.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependency): remove hardcoded version of google-api-services
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
Owners: @zachsmith1

chore(dependency): add implementation for protobuf in yandex
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: none

chore(azure): Adding a verifyAccountHealth configuration
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureResourceManagerClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/config/AzureConfigurationProperties.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/health/AzureHealthIndicator.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/security/AzureCredentials.groovy
Owners: none

feat(gce): add partner metadata in instanceProperties
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BaseGoogleInstanceDescription.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): format instanceProperties
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(azure): Adding a verifyAccountHealth configuration
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureResourceManagerClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/config/AzureConfigurationProperties.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/health/AzureHealthIndicator.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/security/AzureCredentials.groovy
Owners: none

chore(gce): fix merge conflicts with master
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BaseGoogleInstanceDescription.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): remove multiple calls to get region and location
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): wrap whole method in try catch statement
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): log all zones when configure zones explicit
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

test(azure): add single test for AzureHealthIndicator
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/health/AzureHealthIndicatorSpec.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(retrofit): replace OkClient with Ok3Client
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineConfigurationProperties.java
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/Consul.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulAgent.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulCatalog.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulKeyValueStore.groovy
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DefaultDockerOkClientProvider.java
  clouddriver-docker/src/main/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerOkClientProvider.java
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentialsTest.java
  clouddriver-eureka/clouddriver-eureka.gradle
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/api/EurekaApiFactory.groovy
Owners: @zachsmith1

chore(java): Full jaa 17 only
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  Dockerfile.compile
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  gradle.properties
  gradle/kotlin-test.gradle
  gradle/kotlin.gradle
Owners: none

chore(java): Full java 17 only
  Dockerfile.slim
Owners: none

refactor(retrofit): remove all com.squareup.okhttp dependencies
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/config/BaseHttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/config/SimpleHttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/jenkins/JenkinsArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/jenkins/JenkinsArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/maven/MavenArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/maven/MavenArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/config/ArtifactConfiguration.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/github/GithubArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/maven/MavenArtifactCredentialsTest.java
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/services/AgentApi.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/services/KeyValueApi.groovy
  clouddriver-core/clouddriver-core.gradle
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-lambda/clouddriver-lambda.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber

chore(java): Remove cross compilation flag
  Dockerfile.compile
Owners: none

chore(java): Full Java 17 support only
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(eureka): complete okhttp 2 --> okhttp 3
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/config/EurekaProviderConfiguration.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(upgrades): Update OS to latest supported releases
  Dockerfile.slim
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

fix(ecs): include healthcheck status from targetgroups in instance healthcheck
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationService.java
Owners: none

test(ecs): add tests for default behavior and targetgroup healthchecks
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationServiceSpec.groovy
Owners: none
