Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(kubectl/retries): refactor kubectl retry logic such that a new job request is created for each retry attempt
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/jobs/JobRequest.java
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/ManifestFetcher.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/job/mock-kubectl-stdin-command.sh
Owners: @cfieber, @clanesf, @german-muzquiz

refactor(kubernetes/test): use MemoryAppender to simplify KubectlJobExecutorTest
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorTest.java
Owners: @clanesf, @german-muzquiz

fix(permissions): Added evaluator case when fiat is enabled
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerService.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceSpec.groovy
Owners: @cfieber

fix(google): added null check for autoscaler custom metric scaling policies
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/StandardGceAttributeValidator.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/StandardGceAttributeValidatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): pin version of com.github.tomakehurst:wiremock (#5845)
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
Owners: @zachsmith1

chore(dependencies): pin version of com.github.tomakehurst:wiremock (#5845)
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
Owners: @zachsmith1

chore(dependencies): pin version of com.github.tomakehurst:wiremock (#5845)
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
Owners: @zachsmith1

fix(SpinnakerHttpException): fixed the code failure due to refactor in SpinnakerHttpException
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProvider.groovy
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/ops/DeleteEntityTagsAtomicOperation.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(style): Added correct code format
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerService.java
Owners: @cfieber

fix(kubernetes): Fix PatchManifestIT tests
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/PatchManifestIT.java
Owners: @clanesf, @german-muzquiz

fix(kubernetes): Add method in KubeTestUtils
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/utils/KubeTestUtils.java
Owners: @clanesf, @german-muzquiz

fix(permissions): Added evaluator case when fiat is enabled (#5856)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerService.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceSpec.groovy
Owners: @cfieber

fix(kubernetes): fix DeployManifestIT tests
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

fix(kubernetes): Add method in KubeTestUtils
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/InfrastructureIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/utils/KubeTestUtils.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(SpinnakerHttpException): fixed the code failure due to refactor in SpinnakerHttpException
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProvider.groovy
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/ops/DeleteEntityTagsAtomicOperation.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(merge): fix merge conflict in backport
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(merge): fix merge conflict in backport
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
Owners: @clanesf, @german-muzquiz

fix(kubernetes): update DeployManifestIT and InfrastructureIT
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProvider.groovy
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/ops/DeleteEntityTagsAtomicOperation.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/InfrastructureIT.java
  gradle.properties
Owners: @jeyrschabu, @aravindmd, @ajordens, @clanesf, @german-muzquiz

fix(kubernetes): Fix integration tests for deployment versioning
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/InfrastructureIT.java
Owners: @clanesf, @german-muzquiz

feat(provider/kubernetes): finish disable operation
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesDeploymentHandler.java
Owners: @clanesf, @german-muzquiz

feat(provider/kubernetes): version deployed manifests
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesDeploymentHandler.java
Owners: @clanesf, @german-muzquiz

feat(provider/kubernetes): fix failing integration tests
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/InfrastructureIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/PatchManifestIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/utils/KubeTestUtils.java
Owners: @clanesf, @german-muzquiz

fix(google): make AbstractAtomicOperationsCredentialsConverter generic type
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/converters/SetStatefulDiskAtomicOperationConverter.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/converters/StatefullyUpdateBootImageOperationConverter.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(web/test): rename ApplicationControllerSpec to ApplicationsControllerSpec
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ApplicationsControllerSpec.groovy
Owners: none

feat(core): copy the MDC into work done by PooledRequests
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/requestqueue/pooled/PooledRequest.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/requestqueue/pooled/PooledRequestQueueTest.java
Owners: @cfieber

fix(web): let exceptions from ApplicationsController:get bubble up
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ApplicationsController.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ApplicationsControllerSpec.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(deps): unpin the version of com.google.protobuf:protobuf-java and com.google.protobuf:protobuf-java-util
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-titus/clouddriver-titus.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

chore(deps): use version 3.21.12 of com.google.protobuf:protoc
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-titus/clouddriver-titus.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

fix(google): make AbstractAtomicOperationsCredentialsConverter generic type (#5866)
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/converters/SetStatefulDiskAtomicOperationConverter.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/converters/StatefullyUpdateBootImageOperationConverter.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

test(kubernetes): add failing test to show that the cronJobDockerImageReplacer doesn't work for match-name-and-tag artifact binding strategy, but the dockerImageReplacer works
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ReplacerTest.java
Owners: @clanesf, @german-muzquiz

fix(kubernetes): revert to using the dockerImage artifact replacer for cronjobs
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/Replacer.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesCronJobHandler.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ReplacerTest.java
Owners: @clanesf, @german-muzquiz

fix(kubernetes): Revert to using the dockerImage Artifact Replacer for cronjobs (#5876)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/Replacer.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesCronJobHandler.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ReplacerTest.java
Owners: @clanesf, @german-muzquiz
