Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

refactor(groovy): converting more low-hanging fruit
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/CacheConfig.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/CustomSchedulableAgentIntervalProvider.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/JedisCacheConfig.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/LoggingInstrumentation.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentation.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/services/Front50Service.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/NoopCloudMetricProvider.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/NoopClusterProvider.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/NoopInstanceTypeProvider.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/NoopSecurityGroupProvider.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/search/ApplicationSearchProvider.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/search/ProjectSearchProvider.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CacheConfig.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CustomSchedulableAgentIntervalProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/JedisCacheConfig.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/LoggingInstrumentation.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentation.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/ApplicationProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/CloudMetricDescriptor.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/CloudMetricProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/CloudMetricStatistics.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopApplicationProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopCloudMetricProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopClusterProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopElasticIpProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopInstanceProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopInstanceTypeProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopKeyPairProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopLoadBalancerProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopNetworkProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopReservationReportProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopSecurityGroupProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/NoopSubnetProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/search/ApplicationSearchProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/search/ProjectSearchProvider.java
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/CloudMetricController.groovy
Owners: @cfieber

refactor(groovy): fix a return
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CacheConfig.java
Owners: @cfieber

refactor(groovy): public interfaces
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/CloudMetricDescriptor.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/model/CloudMetricStatistics.java
Owners: @cfieber

refactor(groovy): migrate clouddriver-core config to Java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/LoggingInstrumentation.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.java
Owners: @cfieber

chore(dependencies): use org.apache.commons:commons-compress:1.21 to fix CVE-2021-35516 and CVE-2021-35517
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-docker/clouddriver-docker.gradle
Owners: @zachsmith1

feat(aws/image): add the aws.defaults.image-states configuration property (a comma-separated string
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ImageCachingAgent.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ImageCachingAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(gitrepo): Support to authenticate with user and token
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitRepo/GitJobExecutor.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(gitrepo): Support to authenticate with user and token (#5733)
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitRepo/GitJobExecutor.java
Owners: none

docs(api): Clarify docs for account definition secrets
  clouddriver-api/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionRepository.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/DefaultAccountSecurityPolicy.java
Owners: @cfieber

feat(artifacts/s3): make the AmazonS3 client used for retrieving s3 artifacts configurable
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactProviderProperties.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentialsTest.java
Owners: none

feat(artifacts/s3): add request handler for the s3 client used to retrieve artifacts to enable http connection pool metrics
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentials.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentialsTest.java
Owners: none

fix(azure): increase health interval
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
Owners: none

fix(azure): increase health interval
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
Owners: none

config(web): explicit qualifier bean for AsyncTaskExecutor in WebConfig
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/WebConfig.java
Owners: none

fix(caching): k8s kind listing is able to return partial results when not neough permissions in the service account exist but because we are throwing an error even partial entries are not being cached
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

feat(Aws-Lambda): Added Endpoints to delete Provisioned Concurrency and Reserved Concurrency
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/converters/DeleteLambdaProvisionedConcurrencyAtomicOperationConverter.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/converters/DeleteLambdaReservedConcurrencyAtomicOperationConverter.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/description/DeleteLambdaProvisionedConcurrencyDescription.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/description/DeleteLambdaReservedConcurrencyDescription.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/DeleteLambdaProvisionedConcurrencyAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/DeleteLambdaReservedConcurrencyAtomicOperation.java
Owners: @zachsmith1

fix(caching): K8s cache affected when not enough permissions in service account (#5742)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

fix(caching): K8s cache affected when not enough permissions in service account (#5742)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

fix(caching): K8s cache affected when not enough permissions in service account (#5742)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

feat(Aws-Lambda): Added Unit tests for delete Provisioned Concurrency and Reserved Concurrency Endpoints
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/DeleteLambdaProvisionedConcurrencyAtomicOperationTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/DeleteLambdaReservedConcurrencyAtomicOperationTest.java
Owners: @zachsmith1

fix(appEngine): lazy init for appengine beans for credentials
  clouddriver-appengine/src/main/groovy/com/netflix/spinnaker/config/AppengineConfiguration.groovy
Owners: @zachsmith1

fix(appEngine): lazy init for appengine beans for credentials (#5749)
  clouddriver-appengine/src/main/groovy/com/netflix/spinnaker/config/AppengineConfiguration.groovy
Owners: @zachsmith1

chore(protobuf): Update protobuf for M1 support
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-titus/clouddriver-titus.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

feat(provider/google): GCE Autoscaler Support for Clouddriver.
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/snapshot/SaveSnapshotAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/StandardGceAttributeValidator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleAutoscalingPolicy.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleServerGroup.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgent.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleInternalHttpLoadBalancerCachingAgent.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/StandardGceAttributeValidatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/UpsertGoogleAutoscalingPolicyDescriptionValidatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgentTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(build): Gradle 7 compatibility
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: none

fix(clouddriver-kubernetes): Changed property to name from getName
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ReplacerTest.java
Owners: @clanesf, @german-muzquiz

fix(logging): Fix log message format
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/LoggingInstrumentation.java
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dockerfile): upgrade to latest alpine image
  Dockerfile.slim
Owners: none

chore(dockerfile): upgrade to latest alpine image (#5758)
  Dockerfile.slim
Owners: none

chore(dockerfile): upgrade to latest alpine image (#5758)
  Dockerfile.slim
Owners: none

Bump gcloud version to 396.0.0
  Dockerfile.slim
Owners: none

support upper case on the tag of image
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProvider.java
Owners: none

fix(clouddriver-cloudfoundry): Test failure due to change in behaviour of recursive comparison used by assertj-core while upgrading spring boot 2.4.x
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/ApplicationsTest.java
Owners: @zachsmith1

fix(build): Bump protoc/protobuf/grpc to get binaries for mac m1
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-titus/clouddriver-titus.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

Add user agent header to OCI clients.
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/security/OracleNamedAccountCredentials.groovy
Owners: none

chore(dependencies): update the version of protobuf to 3.19.4 for m1 support and since that's what we get via kork
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-titus/clouddriver-titus.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): use version 1.45.1 of io.grpc in clouddriver-titus for m1 support
  clouddriver-titus/clouddriver-titus.gradle
Owners: @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
