Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

chore(kubectl): upgrade kubectl version from 1.20.6 to 1.22.17
  Dockerfile.slim
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeleteManifestOperation.java
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: @clanesf, @german-muzquiz

The assume API won't return next token
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperation.java
Owners: none

fix(aws): ECS Service Tagging broken (#5954)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperation.java
Owners: none

fix(aws): ECS Service Tagging broken (#5954)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperation.java
Owners: none

fix(aws): ECS Service Tagging broken (#5954)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperation.java
Owners: none

fix(aws): ECS Service Tagging broken (#5954)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperation.java
Owners: none

feat(kubernetes): Upgrade kubectl to 1.21.14
  Dockerfile.slim
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

feat: Add possibility to re-set default handler for Global Resource Property Registry.
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

feat: Add not null check for defaultHandler param.
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

chore(build): upgrade gradle to 7.6.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

feat: Add the possibility to update the default handler for the Global Resource Property Registry. (#5963)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

feat: Add the possibility to update the default handler for the Global Resource Property Registry. (#5963)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

feat: Add the possibility to update the default handler for the Global Resource Property Registry. (#5963)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

chore(preview): remove preview feature of version ordering (VERSION_ORDERING_V2) for gradle dependencies
  settings.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(gce): remove the duplicate cache attribute "subnet" and update the test
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgentSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(artifacts): Adds ArtifactStore logic to clouddriver
  clouddriver-appengine/src/test/java/com/netflix/spinnaker/clouddriver/appengine/deploy/ops/DeployAppengineConfigAtomicOperationTest.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/embedded/EmbeddedArtifactCredentials.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.java
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/Main.groovy
  clouddriver-web/src/main/java/com/netflix/spinnaker/clouddriver/controllers/ArtifactController.java
Owners: @zachsmith1, @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

perf(cache): Optimise heap usage in SqlCache
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlCache.kt
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

CR fix. Added comments
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlCache.kt
Owners: none

fix(gce): remove the duplicate cache attribute "subnet" and update the test (#5977)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgentSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): remove the duplicate cache attribute "subnet" and update the test (#5977)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgentSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): remove the duplicate cache attribute "subnet" and update the test (#5977)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgentSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(provider/kubernetes): support for kubectl server-side-apply strategy
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestStrategy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestStrategyTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeployTest.java
Owners: @clanesf, @german-muzquiz

feat(integration-tests): increase kubernetes integration test coverage
  .github/workflows/integration-tests-kubernetes.yml
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
