Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix: Change the agent type name to not include the account name since this would generate LOTS of tables and cause problems long term
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(sql/test): render list as a string in saga_ids field of tasks table in SqlTaskCleanupAgentTest
  clouddriver-sql/src/test/kotlin/com/netflix/spinnaker/clouddriver/sql/SqlTaskCleanupAgentTest.kt
Owners: none

fix(cats/sql): keep up with API changes from jooq 3.13 to 3.14
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/SqlCacheSpec.groovy
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlUnknownAgentCleanupAgentTest.kt
Owners: none

feat(aws): Install AWS CLI v2 and upgrade aws-iam-authenticator
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

Switch to wget (curl isn't available in the slim images)
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(build): use --no-daemon for ecs integration tests
  .github/workflows/integration_tests.yml
Owners: none

chore(build): increase the stack size to try to fix build failures
  .github/workflows/integration_tests.yml
Owners: none

chore(build): try a bigger stack
  .github/workflows/integration_tests.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(builds): Fixes JVM memory for builds to be set and lowers compilation memory usage
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  gradle.properties
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(gha): Reduce JVM memory for builds significantly and increase test memory
  .github/workflows/integration_tests.yml
Owners: none

fix(tests): Adjust JVM memory for tests
  .github/workflows/integration_tests.yml
  build.gradle
Owners: none

refactor(kubernetes): use Resilience4jHelper from kork to configure logging
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

fix: Change the agent type name to not include the account name since this would generate LOTS of tables and cause problems long term
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix: Change the agent type name to not include the account name since this would generate LOTS of tables and cause problems long term (#6158)
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix: Change the agent type name to not include the account name since this would generate LOTS of tables and cause problems long term (#6158)
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix: Change the agent type name to not include the account name since this would generate LOTS of tables and cause problems long term (#6158)
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(aws): Upgrade aws CLI to 1.24 to support k8s client exec API v1beta1 and v1alpha1 concurrently
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6169)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6170)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependency): add explicit dependency of com.jcraft:jsch and org.eclipse.jgit:org.eclipse.jgit.ssh.jsch during upgrade of spring boot 2.6.x
  clouddriver-appengine/clouddriver-appengine.gradle
Owners: @zachsmith1

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(provider/docker): Support multiple challenges from `WWW-Authenticate` header (#6139)
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
Owners: none

fix(azure): circular dependencies
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/view/AzureLoadBalancerProvider.groovy
Owners: none

test(azure): AzureLoadBalancerProvider circular dependency
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/view/AzureLoadBalancerProvider.groovy
  clouddriver-azure/src/test/java/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/view/AzureLoadBalancerProviderTest.java
Owners: none

chore(dependency): upgrade kotlin to 1.6.21 in clouddriver along with kork
  gradle.properties
  gradle/kotlin-test.gradle
  gradle/kotlin.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(tests): fixes test setup after upgrading testcontainers
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentialsTest.java
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none
