Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(ClusterController): Fix GetClusters returning only the last 2 providers clusterNames of application (#6210)
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterController.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterControllerSpec.groovy
Owners: none

fix(ClusterController): Fix GetClusters returning only the last 2 providers clusterNames of application (#6210)
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterController.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterControllerSpec.groovy
Owners: none

chore(dependency): unpin mysql-connector-java
  clouddriver-sql-mysql/clouddriver-sql-mysql.gradle
Owners: none

fix(ecs): Implementing backoff and retry for registerScalableTarget autoscaling request
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/DisableServiceAtomicOperation.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/EnableServiceAtomicOperation.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/ResizeServiceAtomicOperation.java
Owners: none

config(googlecloudsdkversion): Upgraded the google cloud sdk version from 412.0.0 to 476.0.0 in clouddriver.
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

refactor(mysql): update mysql connector coordinate during upgrade to spring boot 2.7.x
  cats/cats-sql/cats-sql.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-sql-mysql/clouddriver-sql-mysql.gradle
  clouddriver-sql/clouddriver-sql.gradle
Owners: @clanesf, @german-muzquiz

refactor(test): remove extracting() method due to breaking change during upgrade to spring boot 2.7.x
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgentTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(kubernetes): support label selectors in deploy manifest stages
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesDeployManifestDescription.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/KubernetesDeployManifestOperationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeployTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubernetesRunJobOperationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/configmaps-with-selectors.yaml
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/replace-strategy.yaml
Owners: @clanesf, @german-muzquiz

test(kubernetes): integration test of deploy manifest with label selectors
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/integration/resources/manifests/configmaps_with_selectors.yml
Owners: @clanesf, @german-muzquiz

fix(tests): refactored existing containerized integration test and added new tests for postgres and mysql
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/BaseContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/MySqlContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/RedisContainerTest.java
  clouddriver-integration/src/test/resources/mysql_init.sql
  clouddriver-integration/src/test/resources/postgres_init.sql
Owners: none

feat(build): add fiat-integration module to exercise the just-built docker imageTest docker image (#6206)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/StandaloneContainerTest.java
  clouddriver-integration/src/test/resources/logback.xml
  clouddriver-web/config/clouddriver.yml
  settings.gradle
Owners: none

fix(integration): add org.junit.jupiter:junit-jupiter-engine dependency
  clouddriver-integration/clouddriver-integration.gradle
Owners: none

fix(tests): added postgres migration test
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresMigrationContainerTest.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(tests): hardcoded the docker image to create initial conditions
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/BaseContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresMigrationContainerTest.java
Owners: none

fix(liquibase): add validCheckSum values to fix failing changesets
  clouddriver-sql/src/main/resources/db/changelog/20180919-initial-schema.yml
  clouddriver-sql/src/main/resources/db/changelog/20181120-cats.yml
  clouddriver-sql/src/main/resources/db/changelog/20190913-task-sagaids.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(google-api-services-compute): updating to beta-rev20201102-1.30.10
  clouddriver-api-tck/clouddriver-api-tck.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-web/clouddriver-web.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @jeyrschabu, @aravindmd, @ajordens, @Nirmalyasen, @plumpy, @rebala, @skandragon, @clanesf, @german-muzquiz

chore(build): enable cross compilation plugin for Java 17
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  Dockerfile.compile
  build.gradle
  gradle.properties
Owners: none

chore(build): upgrade ErrorProne to support JDK 17
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestAnnotater.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestLabeler.java
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @clanesf, @german-muzquiz

chore(build): run spotless
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestLabeler.java
Owners: @clanesf, @german-muzquiz

feat(build): add fiat-integration module to exercise the just-built docker imageTest docker image (#6206)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/StandaloneContainerTest.java
  clouddriver-integration/src/test/resources/logback.xml
  clouddriver-web/config/clouddriver.yml
  settings.gradle
Owners: none

feat(build): add fiat-integration module to exercise the just-built docker imageTest docker image (#6206)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/StandaloneContainerTest.java
  clouddriver-integration/src/test/resources/logback.xml
  clouddriver-web/config/clouddriver.yml
  settings.gradle
Owners: none

fix(tests): refactored existing containerized integration test and added new tests for postgres and mysql (#6221)
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/BaseContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/MySqlContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/RedisContainerTest.java
  clouddriver-integration/src/test/resources/mysql_init.sql
  clouddriver-integration/src/test/resources/postgres_init.sql
Owners: none

fix(tests): refactored existing containerized integration test and added new tests for postgres and mysql (#6221)
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/BaseContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/MySqlContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/RedisContainerTest.java
  clouddriver-integration/src/test/resources/mysql_init.sql
  clouddriver-integration/src/test/resources/postgres_init.sql
Owners: none

fix(liquibase): fix checkSum errors occurring with spinnaker upgrade (#6217)
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/BaseContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresMigrationContainerTest.java
  clouddriver-sql/src/main/resources/db/changelog/20180919-initial-schema.yml
  clouddriver-sql/src/main/resources/db/changelog/20181120-cats.yml
  clouddriver-sql/src/main/resources/db/changelog/20190913-task-sagaids.yml
Owners: none

fix(liquibase): fix checkSum errors occurring with spinnaker upgrade (#6217)
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/BaseContainerTest.java
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/PostgresMigrationContainerTest.java
  clouddriver-sql/src/main/resources/db/changelog/20180919-initial-schema.yml
  clouddriver-sql/src/main/resources/db/changelog/20181120-cats.yml
  clouddriver-sql/src/main/resources/db/changelog/20190913-task-sagaids.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(mysql): update mysql connector coordinate during upgrade to spring boot 2.7.x
  cats/cats-sql/cats-sql.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-sql-mysql/clouddriver-sql-mysql.gradle
  clouddriver-sql/clouddriver-sql.gradle
Owners: @clanesf, @german-muzquiz

refactor(test): remove extracting() method due to breaking change during upgrade to spring boot 2.7.x
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgentTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(test): remove usage of deprecated AssertJ methods
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/DeployCloudFoundryServiceAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryServerGroupCachingAgentTest.java
Owners: @zachsmith1

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

fix(google): adding autowired for cacheview and objectmapper
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(cloudfoundry): remove org.junit.platform.gradle.plugin
  build.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
Owners: @zachsmith1

chore(cloudfoundry/test): replace deprecated isEqualToComparingFieldByFieldRecursively
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/ServiceInstancesTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/ServiceKeysTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/CreateCloudFoundryServiceKeyAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/DeleteCloudFoundryServiceKeyAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/DeployCloudFoundryServerGroupAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/CreateCloudFoundryServiceKeyAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeleteCloudFoundryServiceKeyAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeployCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DestroyCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/ShareCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/UnshareCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryLoadBalancerCachingAgentTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryServerGroupCachingAgentTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundrySpaceCachingAgentTest.java
Owners: @zachsmith1

fix(google): adding autowired for cacheview and objectmapper
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/ResizeGoogleServerGroupAtomicOperationConverter.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/UpsertGoogleAutoscalingPolicyAtomicOperationConverter.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/ResizeGoogleServerGroupAtomicOperationConverterUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/UpsertGoogleAutoscalingPolicyAtomicOperationConverterUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(cloudfoundry/test): use ignoringCollectionOrder to fix test failures
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryLoadBalancerCachingAgentTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryServerGroupCachingAgentTest.java
Owners: @zachsmith1

fix(aws): allow enabledMetrics: [] to enable all metrics
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/deploy/asg/asgbuilders/AsgBuilder.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/asgbuilders/AsgWithLaunchConfigurationBuilderSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/asgbuilders/AsgWithLaunchTemplateBuilderSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/asgbuilders/AsgWithMixedInstancesPolicyBuilderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(deps): Fixes gradle deps to use strictly which DOES impact transitive libraries.
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(deps): Sets clouddriver-web to override the kork enforced platform version of google to work with the clouddriver-google package
  clouddriver-web/clouddriver-web.gradle
Owners: none
