Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(tests): fixes test setup after upgrading testcontainers
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentialsTest.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(google): introduce explicit constructor and initialization of inner class members
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleApplication.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleCluster.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleHealthCheck.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleInstance.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleServerGroup.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/health/GoogleLoadBalancerHealth.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleHttpLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleInternalLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleNetworkLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleSslLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleTcpLoadBalancer.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(google): introduce explicit constructor and initialization of inner class members (#6184)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleApplication.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleCluster.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleHealthCheck.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleInstance.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleServerGroup.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/health/GoogleLoadBalancerHealth.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleHttpLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleInternalLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleNetworkLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleSslLoadBalancer.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/loadbalancing/GoogleTcpLoadBalancer.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(account): Make docker account properties comparable, thus reduce load on DB and docker registry
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationProperties.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationPropertiesSpec.groovy
Owners: none

fix(account): Converted tests to Java
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationProperties.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationPropertiesSpec.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationPropertiesTest.java
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

feat(docker): Add RBAC support to Docker accounts
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationProperties.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupController.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentials.groovy
  clouddriver-docker/src/main/java/com/netflix/spinnaker/config/DockerRegistryConfiguration.java
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupControllerTest.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6189)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6190)
  gradle.properties
Owners: none

Merge branch master into add-amazonoperation-on-lambda
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/orchestration/AtomicOperations.java
Owners: @cfieber

chore(deps): remove duplicate/old fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6183)
  gradle.properties
Owners: none

chore(deps): remove duplicate/old fiatVersion (#6191)
  gradle.properties
Owners: none

fix(databaseChangeLog): fix for 'addAfterColumn is not allowed on postgresql'
  clouddriver-sql/src/main/resources/db/changelog/20181120-cats.yml
  clouddriver-sql/src/main/resources/db/changelog/20190913-task-sagaids.yml
Owners: none

fix(databaseChangeLog): fix for 'addAfterColumn is not allowed on postgresql' (#6194)
  clouddriver-sql/src/main/resources/db/changelog/20181120-cats.yml
  clouddriver-sql/src/main/resources/db/changelog/20190913-task-sagaids.yml
Owners: none

fix(databaseChangeLog): fix for 'addAfterColumn is not allowed on postgresql' (#6194)
  clouddriver-sql/src/main/resources/db/changelog/20181120-cats.yml
  clouddriver-sql/src/main/resources/db/changelog/20190913-task-sagaids.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(gcp): Relaxed health check for GCP accounts
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gcp): Relaxed health check for GCP accounts (#6200)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gcp): Relaxed health check for GCP accounts (#6200)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gcp): Relaxed health check for GCP accounts (#6200)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gcp): Relaxed health check for GCP accounts (#6200)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix: Fixes PR to match 1.28 versions of credential repository APIs
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(build): add clouddriver-integration module to exercise the just-built docker image
  clouddriver-integration/clouddriver-integration.gradle
  clouddriver-integration/src/test/java/com/netflix/spinnaker/clouddriver/StandaloneContainerTest.java
  clouddriver-integration/src/test/resources/logback.xml
  settings.gradle
Owners: none

feat(docker): add HEALTHCHECK
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

fix(web): replace deprecated spring.profiles in configuration
  clouddriver-web/config/clouddriver.yml
Owners: none

feat(gha): run integration test in pr builds
  .github/workflows/pr.yml
Owners: none

feat(gha): run integration test in branch builds
  .github/workflows/build.yml
Owners: none

fix(docker): reduce the chance for false positives in the health check
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(ecs/dependencies): make spring-boot-starter-test a testImplememtation dependency
  clouddriver-ecs/clouddriver-ecs.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(aws): Implement the account API for aws accounts
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/AmazonAccountDefinitionSourceConfiguration.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(ClusterController): Fix GetClusters returning only the last 2 providers clusterNames of application
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterController.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterControllerSpec.groovy
Owners: none

fix(account): Provide defaults to avoid NPEs
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/AccountsConfiguration.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(ClusterController): Fix GetClusters returning only the last 2 providers clusterNames of application (#6210)
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterController.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterControllerSpec.groovy
Owners: none
