Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

trying disabling caching agent for cloudformation
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCloudFormationCachingAgent.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(aws/integration): make it easier to diagnose failures in CreateServerGroupSpec
  clouddriver-aws/src/integration/java/com/netflix/spinnaker/clouddriver/aws/test/CreateServerGroupSpec.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(GoogleSecretManager/test): use SystemLambda to reduce scope of environment variable changes
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

fix(core): Remove payload data from logs
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CatsOnDemandCacheUpdater.java
Owners: @cfieber

chore(dependencies): don't create an autobump PR for halyard on a clouddriver release branch (#5677)
  .github/workflows/bump_dependencies.yml
  .github/workflows/release.yml
Owners: none

fix(core): Remove payload data from logs (#5784)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CatsOnDemandCacheUpdater.java
Owners: @cfieber

fix(core): Remove payload data from logs (#5784)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CatsOnDemandCacheUpdater.java
Owners: @cfieber

fix(core): Remove payload data from logs (#5784)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CatsOnDemandCacheUpdater.java
Owners: @cfieber

fix(core): Remove payload data from logs (#5784)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CatsOnDemandCacheUpdater.java
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(azure): Upgrade azure sdk to the latest one
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureBaseClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureNetworkClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureResourceManagerClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureStorageClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/appgateway/model/AzureAppGatewayDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/appgateway/ops/UpsertAzureAppGatewayAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/common/model/AzureDeploymentOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/model/AzureLoadBalancerDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/ops/UpsertAzureLoadBalancerAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/network/model/AzureVirtualNetworkDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/securitygroup/ops/UpsertAzureSecurityGroupAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/model/AzureInstance.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/model/AzureServerGroupDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/subnet/model/AzureSubnetDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/security/AzureCredentials.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/templates/AzureServerGroupResourceTemplate.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithAzureLoadBalancerAtomicOperation.java
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithoutLoadBalancersAtomicOperation.groovy
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/network/model/AzureVirtualNetworkDescriptionSpec.groovy
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/model/AzureInstanceSpec.groovy
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroups/deploy/AzureServerGroupResourceTemplateSpec.groovy
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroups/deploy/templates/description/AzureServerGroupDescriptionUnitSpec.groovy
Owners: none

feat(azure): Add cache agents to cache custom managed images from the specified resource group and region
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/config/view/AzureInfrastructureProviderConfig.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/common/cache/Keys.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgent.java
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/model/AzureManagedVMImage.java
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/cache/KeysSpec.groovy
Owners: none

feat(azure): Add cache agents to cache custom managed images from the specified resource group and region
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgent.java
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/model/AzureManagedVMImage.java
Owners: none

feat(azure): Add unit test
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgentTest.java
Owners: none

test: Move test to java package
  clouddriver-azure/src/test/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgentTest.java
Owners: none

feat(azure): Add unit test
  clouddriver-azure/src/test/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgentTest.java
Owners: none

feat(azure): Change access level to private for the fields in AzureManagedImageCachingAgent
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgent.java
Owners: none

fix(google): Fix for the missing CredentialsRepository issue
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/config/GoogleCredentialsConfiguration.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(clouddriver-cloudfoundry): Test failure due to change in behaviour of recursive comparison used by assertj-core while upgrading spring boot 2.4.x
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/ApplicationsTest.java
Owners: @zachsmith1

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(build): give local builds as much memory as we do in CI
  gradle.properties
Owners: none

chore: Remove objenesis test implementation dependency because it's not needed
  clouddriver-azure/clouddriver-azure.gradle
Owners: none

chore(kubernetes): stop specifying the version of io.kubernetes:client-java
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-web/clouddriver-web.gradle
  gradle.properties
Owners: @clanesf, @german-muzquiz

fix(cats-sql/test): prevent null pointer exception during cleanup
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/SqlCacheSpec.groovy
Owners: none

fix(google): Fix for the missing CredentialsRepository issue. Added test.
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/config/GoogleCredentialsConfigurationTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(google): Fix for the missing CredentialsRepository issue (#5793)
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/config/GoogleCredentialsConfiguration.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/config/GoogleCredentialsConfigurationTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5801)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5802)
  gradle.properties
Owners: none

feat(azure): Fetch Azure managed images from the managed images namespace cache
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/view/AzureVMImageLookupController.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgent.java
  clouddriver-azure/src/test/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgentTest.java
  clouddriver-azure/src/test/java/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/view/AzureVMImageLookupControllerTest.java
Owners: none

refactor: Change visibility of the mapper field in AzureVMImageLookupController
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/view/AzureVMImageLookupController.groovy
Owners: none

feat(azure): Add unit test
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgentTest.java
Owners: none

test: Move test to java package
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/vmimage/cache/AzureManagedImageCachingAgentTest.java
Owners: none

fix: Fix wrong method names (after sdk migration)
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/appgateway/model/AzureAppGatewayDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/appgateway/ops/UpsertAzureAppGatewayAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/model/AzureServerGroupDescription.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupAtomicOperation.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithAzureLoadBalancerAtomicOperation.java
Owners: none

fix: Add missing import
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/model/AzureServerGroupDescription.groovy
Owners: none
