Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(clouddriver-aws) Unable to pull ec2 instance list in AWS China region
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

https://github.com/spinnaker/clouddriver/pull/5704#discussion_r868965440 https://github.com/spinnaker/clouddriver/pull/5704#discussion_r868970146
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(titus): limit protobuf to 3.17.3
  clouddriver-titus/clouddriver-titus.gradle
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(cf): set build sizing
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/Applications.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/CreateBuild.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeployCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/CreateBuildTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeployCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

feat(cfn): add property notificationARNs
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/deploy/description/DeployCloudFormationDescription.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/deploy/ops/DeployCloudFormationAtomicOperation.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix typo
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/deploy/ops/DeployCloudFormationAtomicOperation.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(cf): update service binding name regex (#5663)
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/CloudFoundryClientUtils.java
Owners: @zachsmith1

fix(cf): set build sizing (#5692)
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/Applications.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/CreateBuild.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeployCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/CreateBuildTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeployCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

feat(search): provide a way to turn off cats search provider
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/CacheConfig.groovy
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/CatsSearchProviderTest.java
Owners: @cfieber

test(core): make sure that CatsSearchProviderTest works with spring 2.3
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/CatsSearchProviderTest.java
Owners: @cfieber

fix(search): ensure that search result==null is handled properly
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/search/NoopSearchProvider.java
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/SearchController.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/SearchControllerSpec.groovy
Owners: @cfieber

feat(search): provide a way to turn off kubernetes search provider
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesSearchProvider.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesSearchProviderTest.java
Owners: @clanesf, @german-muzquiz

fix(core): remove duplicate LoggingInstrumentation, MetricInstrumentation and CatsOnDemandCacheUpdater beans
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/LoggingInstrumentation.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentation.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/CatsOnDemandCacheUpdater.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/CatsSearchProviderTest.java
Owners: @cfieber

fix(clouddriver-aws): Unable to pull ec2 instance list in AWS China region
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonInstanceTypeCachingAgent.java
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(titus): limit protobuf to 3.17.3 (#5706)
  clouddriver-titus/clouddriver-titus.gradle
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(titus): limit protobuf to 3.17.3 (#5706)
  clouddriver-titus/clouddriver-titus.gradle
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(ci): Only run CodeQL on Spinnaker repos
  .github/workflows/codeql-analysis.yml
Owners: none

fix(huawei): exclude slf4j-simple since spinnaker uses logback
  clouddriver-huaweicloud/clouddriver-huaweicloud.gradle
Owners: none

chore(web): convert WebConfig.groovy to java
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/WebConfig.groovy
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/WebConfig.java
Owners: none

fix(web): copy the MDC to threads that service async endpoints
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/WebConfig.java
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ArtifactControllerSpec.java
Owners: none

test(web): demonstrate that information in the MDC doesn't make it to threads that service async endpoints
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/ArtifactCredentialsRepository.java
  clouddriver-web/clouddriver-web.gradle
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/WebConfig.java
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/ArtifactControllerSpec.java
  clouddriver-web/src/test/resources/logback.xml
Owners: none

fix(core): set error message for AtomicOperationConverterNotFoundException
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/orchestration/AtomicOperationConverterNotFoundException.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/orchestration/AnnotationsBasedAtomicOperationsRegistrySpec.groovy
Owners: @cfieber

fix(provider/google): Added scope to the credentials
  clouddriver-google-common/src/main/groovy/com/netflix/spinnaker/clouddriver/googlecommon/security/GoogleCommonCredentials.groovy
Owners: none

feat(kubernetes): enable getManifest() to return Kubernetes system resources
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/controllers/ManifestController.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestAnnotater.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/names/KubernetesResourceAwareNames.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestAnnotatorTest.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(provider/azure): Wait for server group healthy before continuing
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/config/ops/AzureOpsConfig.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/application/model/AzureApplication.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/ops/converters/DeleteAzureLoadBalancerAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/ops/converters/UpsertAzureLoadBalancerAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/securitygroup/ops/converters/DeleteAzureSecurityGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/securitygroup/ops/converters/UpsertAzureSecurityGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/EnableAzureServerGroupAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/DestroyAzureServerGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/DisableAzureServerGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/EnableAzureServerGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithAzureLoadBalancerAtomicOperation.java
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithoutLoadBalancersAtomicOperation.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/ResizeAzureServerGroupAtomicOperationConverter.java
Owners: none

feat(provider/azure): Wait for server group healthy before continuing
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/config/ops/AzureOpsConfig.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/application/model/AzureApplication.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/ops/converters/DeleteAzureLoadBalancerAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/ops/converters/UpsertAzureLoadBalancerAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/securitygroup/ops/converters/DeleteAzureSecurityGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/securitygroup/ops/converters/UpsertAzureSecurityGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/EnableAzureServerGroupAtomicOperation.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/DestroyAzureServerGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/DisableAzureServerGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/EnableAzureServerGroupAtomicOperationConverter.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithAzureLoadBalancerAtomicOperation.java
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/CreateAzureServerGroupWithoutLoadBalancersAtomicOperation.groovy
  clouddriver-azure/src/main/java/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/ops/converters/ResizeAzureServerGroupAtomicOperationConverter.java
Owners: none

fix(provider/azure): Remove unused serverGroups tags
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureNetworkClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/templates/AzureAppGatewayResourceTemplate.groovy
  clouddriver-azure/src/test/groovy/com/netflix/spinnaker/clouddriver/azure/resources/appgateway/deploy/template/AzureAppGatewayResourceTemplateSpec.groovy
Owners: none

fix(build): Remove temporary workaround from 2016
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-web/clouddriver-web.gradle
Owners: none

fix(core): ignore roles for anonymous user to access account
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManager.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

fix(core): ignore roles for anonymous user to access account (#5726)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManager.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

refactor(core): Support both EncryptedSecret and UserSecret
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/AccountDefinitionConfiguration.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionMapper.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionMapperTest.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

feat(core): User secrets and account upsert
  clouddriver-api/clouddriver-api.gradle
  clouddriver-api/src/main/java/com/netflix/spinnaker/clouddriver/security/AccessControlledAccountDefinition.java
  clouddriver-api/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionRepository.java
  clouddriver-api/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionTypeProvider.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/AccountsConfiguration.java
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/AccountDefinitionConfiguration.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerService.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/jackson/AccountDefinitionModule.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccessControlledAccountDefinitionAuthorizedRolesExtractor.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionAuthorizer.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionMapper.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManager.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionService.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSource.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionTypes.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountSecurityPolicy.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AllowAllAccountSecurityPolicy.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AuthorizedRolesExtractor.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/DefaultAccountSecurityPolicy.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceSpec.groovy
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionMapperTest.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
  clouddriver-core/src/test/java/io/spinnaker/test/security/TestAccount.java
  clouddriver-core/src/test/java/io/spinnaker/test/security/ValueAccount.java
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/config/DockerRegistryConfigurationProperties.groovy
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/KubernetesAccountProperties.java
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/security/SqlAccountDefinitionException.kt
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/security/SqlAccountDefinitionRepository.kt
  clouddriver-web/src/main/java/com/netflix/spinnaker/clouddriver/controllers/CredentialsController.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @cfieber, @clanesf, @german-muzquiz

docs(core): Clarify user secrets and accounts security rules
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManager.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionService.java
Owners: @cfieber

refactor(core): Rename canAccessAccount to canUseAccount
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManager.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountSecurityPolicy.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AllowAllAccountSecurityPolicy.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/DefaultAccountSecurityPolicy.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(provider/azure): Scale sets can become healthy after time
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureComputeClient.groovy
Owners: none

test(core): Add test for user+account with no perms
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

fix(provider/azure): Allow internal load balancers to show up
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureNetworkClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/loadbalancer/model/AzureLoadBalancerDescription.groovy
Owners: none

refactor(groovy): migrate clouddriver-core config to Java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/config/DeployConfiguration.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/config/RetrofitConfig.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/DeployConfiguration.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/RetrofitConfig.java
Owners: @cfieber
