Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

fix: Add missing guava dependenct (previously it was fetched from the old azure sdk)
  clouddriver-azure/clouddriver-azure.gradle
Owners: none

chore(configserver): use version 0.14.2 of com.github.wnameless.json:json-flattener
  clouddriver-configserver/clouddriver-configserver.gradle
Owners: none

chore(configserver): use version 0.14.2 of com.github.wnameless.json:json-flattener (#5804)
  clouddriver-configserver/clouddriver-configserver.gradle
Owners: none

chore(configserver): use version 0.14.2 of com.github.wnameless.json:json-flattener (#5804)
  clouddriver-configserver/clouddriver-configserver.gradle
Owners: none

fix(appengine): Fixes app engine credentials repo
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineCredentialsConfiguration.java
  clouddriver-appengine/src/test/java/com/netflix/spinnaker/clouddriver/appengine/config/AppEngineAccountCredentialsRepoTest.java
Owners: @zachsmith1

fix(provider/azure): Fix CreateAzureServerGroupWithAzureLoadBalancerAtomicOperation and DestroyAzureServerGroupAtomicOperation after migrating to latest Azure SDK
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureNetworkClient.groovy
Owners: none

fix(appengine): Fixes app engine credentials repo (#5807)
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineCredentialsConfiguration.java
  clouddriver-appengine/src/test/java/com/netflix/spinnaker/clouddriver/appengine/config/AppEngineAccountCredentialsRepoTest.java
Owners: @zachsmith1

fix(appengine): Fixes app engine credentials repo (#5807)
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineCredentialsConfiguration.java
  clouddriver-appengine/src/test/java/com/netflix/spinnaker/clouddriver/appengine/config/AppEngineAccountCredentialsRepoTest.java
Owners: @zachsmith1

added forcerestart
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/orchestration/AtomicOperations.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/converters/ForceRestartServerGroupAtomicOperationConverter.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/description/ForceRestartServerGroupDescription.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/ForceRestartServerGroupAtomicOperation.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/validators/ForceRestartServerGroupValidator.java
Owners: @cfieber

added forcerestart
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/description/ForceRestartServerGroupDescription.java
Owners: none

Modified the operation from deploy manifest to deploy cloudrun manifest.
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/converter/manifest/CloudrunDeployManifestConverter.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/description/manifest/CloudrunDeployManifestDescription.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/manifest/CloudrunDeployManifestOperation.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/orchestration/AtomicOperations.java
Owners: @cfieber

Added cloudrun pipeline feature.
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/converter/manifest/CloudrunCleanupArtifactsConverter.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/converter/manifest/CloudrunDeployManifestConverter.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/CloudrunServerGroupNameResolver.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/CloudrunAtomicOperationConverterHelper.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/description/manifest/CloudrunCleanupArtifactsDescription.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/description/manifest/CloudrunDeployManifestDescription.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/CloudrunManifestOperationResult.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/artifact/CloudrunCleanupArtifactsOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/manifest/CloudrunDeployManifestOperation.java
Owners: none

feat(provider/google): Added cloudrun provider functionality in clouddriver.
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/cache/Keys.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/config/CloudrunCredentialsConfiguration.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/StartCloudrunAtomicOperationConverter.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/StopCloudrunAtomicOperationConverter.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/description/UpsertCloudrunLoadBalancerDescription.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/AbstractStartStopCloudrunAtomicOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/DeployCloudrunAtomicOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/DisableCloudrunAtomicOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/StartCloudrunAtomicOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/StopCloudrunAtomicOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/description/manifest/CloudrunDeployManifestDescription.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunTrafficSplit.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/CloudrunManifestOperationResult.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/manifest/CloudrunDeployManifestOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/provider/agent/AbstractCloudrunCachingAgent.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/provider/agent/CloudrunServerGroupCachingAgent.java
  clouddriver-cloudrun/src/test/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/StartCloudrunAtomicOperationConverterTest.java
  clouddriver-cloudrun/src/test/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/StopCloudrunAtomicOperationConverterTest.java
  clouddriver-cloudrun/src/test/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/DeleteCloudrunLoadBalancerAtomicOperationTest.java
  clouddriver-cloudrun/src/test/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/validators/DeployCloudrunConfigDescriptionValidatorTest.java
Owners: none

fix(artifacts/bitbuket): added ACCEPT Header when using token auth
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
Owners: none

chore(deps): remove version specification from org.yaml:snakeyaml
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-titus/clouddriver-titus.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

fix(artifacts/bitbuket): changed for constant MediaType.APPLICATION_JSON_VALUE
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
Owners: none

fix(kubernetes): teach KubernetesManifest to support kubernetes resources where the spec is not a map
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifest.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/description/KubernetesManifestSpec.groovy
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/crd-manifest-spec-is-list.json
Owners: @clanesf, @german-muzquiz

test(kubernetes): verify that KubernetesDeployManifestOperation can deploy a custom resource whose spec is a list
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/KubernetesDeployManifestOperationTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/crd-manifest-spec-is-list.yml
Owners: @clanesf, @german-muzquiz

chore(elasticsearch/test): skip ElasticSearchEntityTagsProviderSpec when there's no valid docker environment
  clouddriver-elasticsearch/src/test/groovy/com/netflix/spinnaker/clouddriver/elasticsearch/model/ElasticSearchEntityTagsProviderSpec.groovy
Owners: none

chore(cats-sql/test): skip tests that require docker when it's not available
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/MySqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/PostgreSqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/SqlProviderCacheSpec.groovy
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlUnknownAgentCleanupAgentTest.kt
Owners: none

chore(clouddriver-artifacts/test): skip tests that require docker when it's not available
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/s3/S3ArtifactCredentialsTest.java
Owners: none

chore(clouddriver-sql/test): skip tests that require docker when it's not available
  clouddriver-sql/src/test/kotlin/com/netflix/spinnaker/clouddriver/sql/event/SqlEventCleanupAgentTest.kt
  clouddriver-sql/src/test/kotlin/com/netflix/spinnaker/clouddriver/sql/event/SqlEventRepositoryTest.kt
Owners: none

fix(kubernetes): teach KubernetesManifest to support kubernetes resources where the spec is not a map (#5814)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifest.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/description/KubernetesManifestSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/KubernetesDeployManifestOperationTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/crd-manifest-spec-is-list.json
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/crd-manifest-spec-is-list.yml
Owners: @clanesf, @german-muzquiz

fix(kubernetes): teach KubernetesManifest to support kubernetes resources where the spec is not a map (#5814)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifest.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/description/KubernetesManifestSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/KubernetesDeployManifestOperationTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/crd-manifest-spec-is-list.json
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/crd-manifest-spec-is-list.yml
Owners: @clanesf, @german-muzquiz

fix(kubernetes): teach KubernetesManifest to support kubernetes resources where the spec is not a map (#5814)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifest.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/description/KubernetesManifestSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/KubernetesDeployManifestOperationTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/crd-manifest-spec-is-list.json
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/crd-manifest-spec-is-list.yml
Owners: @clanesf, @german-muzquiz

fix(artifacts/bitbuket): added 'Accept: application/json' header on unit tests
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentialsTest.java
Owners: none

feat(kubernetes): Introduce blue/green traffic management strategy
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesDeployManifestDescription.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestAnnotater.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5820)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(artifacts/bitbuket): added ACCEPT Header when using token auth (#5813)
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentialsTest.java
Owners: none

fix(artifacts/bitbuket): added ACCEPT Header when using token auth (#5813)
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentialsTest.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion (#5819)
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion (#5819)
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion (#5819)
  gradle.properties
Owners: none

chore(kubernetes): remove duplicate dependency declaration of org.mockito:mockito-core
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
Owners: @clanesf, @german-muzquiz

feat(k8s): Add Deployment Kind support for Blue/Green deployments
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesDeploymentHandler.java
Owners: @clanesf, @german-muzquiz

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
