Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

chore(dependency): add explicit dependency of groovy-test in clouddriver-google while upgrading groovy 3.x
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
Owners: @zachsmith1

fix(lambda): Lambda is leaking threads on agent refreshes. remove the custom threadpool
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/AsgConfigHelperSpec.groovy
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgent.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/config/LambdaServiceConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgentTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaServiceTest.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @zachsmith1

fix(lambda): Lambda is leaking threads on agent refreshes. remove the custom threadpool (#6048)
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/AsgConfigHelperSpec.groovy
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgent.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/config/LambdaServiceConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgentTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaServiceTest.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @zachsmith1

fix(lambda): Lambda is leaking threads on agent refreshes. remove the custom threadpool (#6048)
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/AsgConfigHelperSpec.groovy
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgent.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/config/LambdaServiceConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgentTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaServiceTest.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @zachsmith1

fix(lambda): Lambda is leaking threads on agent refreshes. remove the custom threadpool (#6048)
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/AsgConfigHelperSpec.groovy
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgent.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/config/LambdaServiceConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgentTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaServiceTest.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @zachsmith1

refactor(aws/test): fix conflict of variable scope by renaming local variables during upgrade of groovy 3.x
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/ModifyAsgLaunchConfigurationOperationSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependency): add explicit dependency of groovy-templates in clouddriver-kubernetes while upgrading groovy 3.x
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
Owners: @clanesf, @german-muzquiz

refactor(kubernetes/test): replace deprecated NioGroovyMethods.append() with ResourceGroovyMethods.append() during upgrade to groovy 3.x
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesNamedAccountCredentialsSpec.groovy
Owners: @clanesf, @german-muzquiz

fix(aws): ignore deserialziation of getServerGroupNames
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/deploy/description/ModifyServerGroupLaunchTemplateDescription.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/actions/ModifyServerGroupLaunchTemplateSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(artifacts) Add ArtifactReferenceURI
  clouddriver-web/src/main/java/com/netflix/spinnaker/clouddriver/controllers/ArtifactController.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(artifacts) Add ArtifactReferenceURI
  clouddriver-web/src/main/java/com/netflix/spinnaker/clouddriver/controllers/ArtifactController.java
Owners: none

feat(provider/google): Added cloudrun manifest functionality in clouddriver.
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/docker/DockerArtifactConfiguration.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/CloudrunUtils.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/ops/DeployCloudrunAtomicOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/description/manifest/CloudrunDeployManifestDescription.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunMetaData.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunMetadataAnnotations.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunMetadataLabels.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpec.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecContainer.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecContainerPort.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecContainerResources.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecResourceLimits.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecTemplate.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecTemplateAnnotations.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecTemplateLabels.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecTemplateMetadata.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunSpecTraffic.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunTemplateSpec.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/model/CloudrunYmlData.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/manifest/ArtifactKey.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/op/manifest/CloudrunDeployManifestOperation.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/provider/agent/CloudrunServerGroupCachingAgent.java
  clouddriver-cloudrun/src/test/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/CloudrunDeployManifestDescriptionTest.java
Owners: none

chore(dependency): add explicit dependency of groovy-json in clouddriver-web while upgrading groovy 3.x
  clouddriver-web/clouddriver-web.gradle
Owners: none

feat: Replace the default properties handler setter, which is currently employed for plugins purposes, with the CRD properties resolver.
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat: Add unit tests.
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistrySpec.groovy
Owners: @clanesf, @german-muzquiz

chore(junit): centralize org.junit.jupiter:junit-jupiter-engine dependency in build.gradle
  build.gradle
  cats/cats-sql/cats-sql.gradle
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-core/clouddriver-core.gradle
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-event/clouddriver-event.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-lambda/clouddriver-lambda.gradle
  clouddriver-saga/clouddriver-saga.gradle
  clouddriver-sql/clouddriver-sql.gradle
  gradle/kotlin-test.gradle
Owners: @zachsmith1, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon, @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(appengine): remove isDisabled() method with groovy 3 upgrade
  clouddriver-appengine/src/main/groovy/com/netflix/spinnaker/clouddriver/appengine/model/AppengineServerGroup.groovy
Owners: @zachsmith1

refactor(aws/test): remove isDisabled() method with groovy 3 upgrade
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/SimpleServerGroup.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/discovery/DiscoverySupportUnitSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

refactor(core/test): remove isDisabled() method with groovy 3 upgrade
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/model/SimpleServerGroup.groovy
Owners: @cfieber

refactor(google): remove isDisabled() method with groovy 3 upgrade
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleServerGroup.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(oracle): remove isDisabled() method with groovy 3 upgrade
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/model/OracleServerGroup.groovy
Owners: none

fix(spring/request): Optional class is not serializable.
  clouddriver-web/src/main/java/com/netflix/spinnaker/clouddriver/controllers/CredentialsController.java
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/CredentialsControllerSpec.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/resources/DefaultAccountDefinitionService.java
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/resources/ManagedAccount.groovy
  clouddriver-web/src/test/groovy/com/netflix/spinnaker/clouddriver/controllers/resources/MapBackedAccountDefinitionRepository.groovy
Owners: none

feat(kubectl): Extract interface for KubectlJobExecutor and use it instead of the implementation.
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCachingAgent.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorInterface.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
Owners: @clanesf, @german-muzquiz

chore(merge): Merge master fixes still
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/config/LambdaServiceConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgentTest.java
Owners: @zachsmith1

feat(kubectl): Extract interface for KubectlJobExecutor and use it instead of the implementation.
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesInstanceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorInterface.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/provider/view/KubernetesJobProviderSpec.groovy
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsSpec.groovy
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesNamedAccountCredentialsSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesDataProviderIntegrationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesInstanceProviderTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubernetesRunJobOperationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsTest.java
Owners: @clanesf, @german-muzquiz

feat(kubectl): Extract interface for KubectlJobExecutor and use it instead of the implementation.
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesDataProviderIntegrationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsTest.java
Owners: @clanesf, @german-muzquiz

refactor(google): add constructor-based DI to mock private members in test and resolved the scope of variables during upgrade to groovy 3.x
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/DeleteGoogleAutoscalingPolicyAtomicOperationConverter.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(test): convert junit4 assertion to junit5
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

feat(kubectl): Extract interface for KubectlJobExecutor and use it instead of the implementation.
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutorTest.java
Owners: @clanesf, @german-muzquiz

chore(logs): Fixes a few logs, refactors class name
  .gitignore
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/AbstractLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaClientProvider.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

feat(kubectl): Extract interface for KubectlJobExecutor and use it instead of the implementation.
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

refactor(google): add constructor-based DI to mock private members in test and resolved the scope of variables during upgrade to groovy 3.x
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/ResizeGoogleServerGroupAtomicOperationConverter.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/UpsertGoogleAutoscalingPolicyAtomicOperationConverter.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(google): add @Autowired to make members explicit for DI
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/DeleteGoogleAutoscalingPolicyAtomicOperationConverter.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(test): add runtime jupiter engine and remove vintage engine with upgrade of groovy 3
  build.gradle
  cats/cats-test/cats-test.gradle
Owners: none

feat(kubectl): Extract interface for KubectlJobExecutor and use it. (#6076)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCachingAgent.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesInstanceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/provider/view/KubernetesJobProviderSpec.groovy
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsSpec.groovy
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesNamedAccountCredentialsSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesDataProviderIntegrationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesInstanceProviderTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubernetesRunJobOperationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsTest.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none
