Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(install): Fixed Debian post install script for aws-iam-authenticator (#6274)
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

fix(install): Fix Debian post installation script when awscli2 is already installed or the installation failed previously
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

fix(install): Fix Debian post installation script when awscli2 is already installed or the installation failed previously (#6276)
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

fix(install): Removed install_awscli2 function from Debian post install script
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

fix(aws): Fix AWS CLI v2 for Alpine Linux
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

Fix for legacy key/value format
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

fix(aws): Fix AWS CLI v2 for Alpine Linux (#6279)
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

perf(ecs): Narrowing the cache search for the ECS provider on views
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/AbstractCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/EcsCloudWatchAlarmCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/model/EcsApplication.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsClusterProvider.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsLoadBalancerProvider.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsServerClusterProvider.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/view/EcsApplicationProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsClusterProviderSpec.groovy
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsLoadBalancerProviderSpec.groovy
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/view/EcsApplicationProviderSpec.groovy
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ClusterController.groovy
Owners: none

chore(gce): upgrade client
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add resourceManagerTags in input
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BaseGoogleInstanceDescription.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): workaround upgrade issues
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/snapshot/SaveSnapshotAtomicOperation.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/RegionGoogleServerGroupManagers.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/ZoneGoogleServerGroupManagers.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CopyLastGoogleServerGroupAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): upgrade google-api-client
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

test(gce): disable test
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

perf(ecs): ECS alarms to be cached/searched with EcsClusterName id
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/Keys.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/AbstractCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/EcsCloudWatchAlarmCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/DestroyServiceAtomicOperation.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/EcsCloudMetricAlarmCachingAgent.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsServerClusterProvider.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/EcsCloudMetricService.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/view/EcsApplicationProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/cache/EcsCloudWatchAlarmCacheClientSpec.groovy
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/agent/EcsCloudMetricAlarmCachingAgentSpec.groovy
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsServerClusterProviderSpec.groovy
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/EcsCloudMetricServiceSpec.groovy
Owners: none

feat(gce): add resourceManagerTags in the basic description
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BasicGoogleDeployDescription.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): remove resourceManagerTags from the instanceProperties
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BasicGoogleDeployDescription.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add logs for resourceManagerTags
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add resourceManagerTags to the instanceTemplate properties
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(cloudfoundry): Update ProcessStats model due to capi-1.84.0 changes
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/model/v3/ProcessStats.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/CloudFoundryOperationUtils.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperation.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperationTest.java
Owners: @zachsmith1

feat(gce): upgrade to 1.35.1 to keep backward compatibility
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/snapshot/SaveSnapshotAtomicOperation.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/RegionGoogleServerGroupManagers.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/ZoneGoogleServerGroupManagers.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CopyLastGoogleServerGroupAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): remove explicit version from implementation statement
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

test(gce): disable test
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): remove resourceManagerTags from the instanceProperties
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BasicGoogleDeployDescription.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add logs for resourceManagerTags
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): workaround upgrade issues
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/snapshot/SaveSnapshotAtomicOperation.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/RegionGoogleServerGroupManagers.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/ZoneGoogleServerGroupManagers.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CopyLastGoogleServerGroupAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(gce): upgrade google-api-client
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add resourceManagerTags in input
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BaseGoogleInstanceDescription.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add resourceManagerTags to the instanceTemplate properties
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): upgrade to 1.35.1 to keep backward compatibility
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleAutoscalingPolicyAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/snapshot/SaveSnapshotAtomicOperation.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/RegionGoogleServerGroupManagers.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/ZoneGoogleServerGroupManagers.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CopyLastGoogleServerGroupAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DeleteGoogleAutoscalingPolicyAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/SerializeApplicationAtomicOperationUnitSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(gce): upgrade client
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add resourceManagerTags in the basic description
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BasicGoogleDeployDescription.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): remove explicit version from implementation statement
  clouddriver-google/clouddriver-google.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): remove force deps and fix issues with new version of google-api
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/artifacts/GcsStorageService.java
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/security/AppengineCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gcs/GcsArtifactCredentials.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/security/CloudrunCredentials.java
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/security/GoogleCredentials.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/controllers/GoogleNamedImageLookupController.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/BatchComputeRequestImplTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/BatchPaginatedComputeRequestImplTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/GetFirstBatchComputeRequestTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/ImagesTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplatesTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/RegionGoogleServerGroupManagersTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/ZoneGoogleServerGroupManagersTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtilSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CreateGoogleInstanceAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/StatefullyUpdateBootImageAtomicOperationTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleImageTagsAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @zachsmith1, @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(dependency): replace JacksonFactory to GsonFactory
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/artifacts/GcsStorageService.java
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/security/AppengineCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gcs/GcsArtifactCredentials.java
  clouddriver-cloudrun/src/main/java/com/netflix/spinnaker/clouddriver/cloudrun/security/CloudrunCredentials.java
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/security/GoogleCredentials.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/controllers/GoogleNamedImageLookupController.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/BatchComputeRequestImplTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/BatchPaginatedComputeRequestImplTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/GetFirstBatchComputeRequestTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/ImagesTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplatesTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/RegionGoogleServerGroupManagersTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/ZoneGoogleServerGroupManagersTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtilSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CreateGoogleInstanceAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/StatefullyUpdateBootImageAtomicOperationTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleImageTagsAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @zachsmith1, @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): support resource-manager-tags in GCE deployment
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/description/BaseGoogleInstanceDescription.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add hyperdisk as disktype option
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskType.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gce): add testing for hyperdisk disk option
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon
