Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

chore(awscli): Bump AWS CLI and fix install of AWS CLI
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(upgrade): Upgrade Ubuntu image to latest supported release
  Dockerfile.ubuntu
Owners: none

chore(awscli): Ubuntu docker image bump in separate PR revert to master Ubuntu
  Dockerfile.ubuntu
Owners: none

chore(awscli): Ubuntu docker image bump in separate PR revert to master Ubuntu
  Dockerfile.ubuntu
Owners: none

chore(upgrades): Upgrade Ubuntu to latest release and fixes aws cli installer to match slim version
  Dockerfile.ubuntu
Owners: none

fix(typo): Fix removing pip had a typo
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5997)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5998)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6000)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5999)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6001)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6002)
  gradle.properties
Owners: none

chore(os): Update download location and get the kubectl the same between ubuntu and slim
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(docs): remove no longer needed TODO
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): bump kork to 7.187.0
  gradle.properties
Owners: none

chore(os): Set iam authenticator version
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(builds): Backport flag for installing aws cli
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli (#6008)
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli (#6006)
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli (#6007)
  Dockerfile.slim
Owners: none

fix(builds): Backport flag for installing aws cli (#6009)
  Dockerfile.slim
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6010)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6011)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(aws/test): fix test placeholders to show unrolled iteration names
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/InstanceTypeUtilsSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineConfigurationProperties.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/edda/EddaApiFactory.groovy
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorker.java
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/Consul.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulAgent.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulCatalog.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulKeyValueStore.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/config/ConsulConfig.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/provider/ConsulProviderUtils.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuard.java
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenService.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/provider/agent/DockerRegistryImageCachingAgent.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentials.groovy
  clouddriver-eureka/clouddriver-eureka.gradle
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/api/EurekaApiFactory.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/EurekaUtil.groovy
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/AbstractEnableDisableAtomicOperation.groovy
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon
