Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

chore(aws): Update AWS IAM Authenticator version
  Dockerfile.slim
Owners: none

chore(aws): Update AWS IAM Authenticator version
  Dockerfile.slim
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

Update GoogleDiskType.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskType.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(provider/google): Added new disks type for gce in clouddriver
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleDiskType.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5915)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5916)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5917)
  gradle.properties
Owners: none

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(gha): update to docker/login-action@v2 to stay up to date
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

feat(gha): configure dependabot to keep github actions up to date
  .github/dependabot.yml
Owners: none

chore(gha): replace action for creating github releases
  .github/workflows/release.yml
Owners: none

chore(gha): replace deprecated set-output commands with environment files
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(metrics): revert metric names to pre-Java closing spinnaker/spinnaker#6821
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentation.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentationTest.java
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(metrics): remove unused extension
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentationTest.java
Owners: @cfieber

chore(dependencies): don't create an autobump PR for halyard on a clouddriver release branch (#5677)
  .github/workflows/bump_dependencies.yml
  .github/workflows/release.yml
Owners: none

chore(dependencies): Autobump korkVersion (#5938)
  gradle.properties
Owners: none

fix(metrics): revert metric names to pre-Java (#5936)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentation.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentationTest.java
Owners: @cfieber

fix(metrics): revert metric names to pre-Java (#5936)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentation.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/cache/MetricInstrumentationTest.java
Owners: @cfieber

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5943)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(aws): bumped aws cli to 1.22 for FIPS complience
  Dockerfile.slim
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(aws): standardize retry logic in LocalFileUserDataProvider.isLegacyUdf
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProvider.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProviderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix: remove the duplicate cache attribute 'subnet'
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(kubernetes): skip checking and allow operations on all kinds
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/KubernetesValidationUtil.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesDeleteManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesDisableManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesEnableManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesPatchManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesPauseRolloutManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesResumeRolloutManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesRollingRestartManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesScaleManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesUndoRolloutManifestValidator.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/servergroup/KubernetesResizeServerGroupValidator.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

refactor(deprecation): remove deprecated gradle constructs/features from clouddriver in order to upgrade gradle 7
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none
