Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @maggieneterval, @ethanfrogers, @german-muzquiz, @plumpy, @robzienert, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @maggieneterval @ethanfrogers @german-muzquiz
clouddriver-google/        @maggieneterval @plumpy

clouddriver-saga/          @robzienert @cfieber
clouddriver-core/          @robzienert @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

reverted few lines to match upstream
  .idea/compiler.xml
  .idea/gradle.xml
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/KubernetesConfigurationProperties.java
Owners: @maggieneterval, @ethanfrogers, @german-muzquiz

fixed a review comment - fetching right source out of multiple remote files
  .idea/gradle.xml
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/BootstrapKubernetesConfigurationProvider.java
Owners: @maggieneterval, @ethanfrogers, @german-muzquiz

correcting gradle.xml to match upstream
  .idea/gradle.xml
Owners: none

reverting intelliJ-added-lines from gradle.xml
  .idea/gradle.xml
Owners: none

feat(docker/registry): Modified the constructor for testing purposes, refactor test cases using new constructor.
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
Owners: none

fix(ecs): add application name filter to findCluster
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsServerClusterProvider.java
Owners: none

feat(amazon/lb): Allow external load balancers to set IpAddressType as either ipv4 or dualstack
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/description/UpsertAmazonLoadBalancerV2Description.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/handlers/LoadBalancerV2UpsertHandler.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/loadbalancer/UpsertAmazonLoadBalancerV2AtomicOperation.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(ecs): add application name filter to findCluster (#5168)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsServerClusterProvider.java
Owners: none

feat(amazon/lb): Update tests
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/loadbalancer/UpsertAmazonLoadBalancerV2AtomicOperationSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(cloudfoundry): revert #5150
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/config/CloudFoundryProviderConfig.java
Owners: none

chore(aws): Updated `BlockDeviceConfig` for new ec2 instance types (c6gn.*)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/InstanceTypeUtils.java
Owners: @jeyrschabu, @aravindmd, @ajordens
