Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

feat(java17): use JRE17, run tests on JRE17, compile with JDK11
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  build.gradle
  cats/cats-core/src/test/groovy/com/netflix/spinnaker/cats/agent/CacheExecutionSpec.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSecurityGroupProvider.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtilSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/UpsertGoogleLoadBalancerAtomicOperationConverterUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/CreateGoogleInstanceAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/DestroyGoogleServerGroupAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/TerminateGoogleInstancesAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/UpsertGoogleImageTagsAtomicOperationUnitSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/loadbalancer/UpsertGoogleLoadBalancerAtomicOperationUnitSpec.groovy
  clouddriver-web/config/clouddriver.yml
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/Main.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(artifacts): remove reference to artifact-store.enabled
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.java
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/Main.groovy
Owners: @cfieber

fix(gcp): Fix Google Health indicator tests
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(java17): remove invalid usage of BigInteger constructor
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/data/task/InMemoryTaskRepository.groovy
Owners: @cfieber

fix(java17): fix GHA workflows
  .github/workflows/build.yml
  .github/workflows/pr.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(java17): replace SystemLambda dependency incompatible with Java 17
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionSecretManagerTest.java
Owners: @cfieber

fix(java17): revert changes to clouddriver.yml
  clouddriver-web/config/clouddriver.yml
Owners: none

fix(java17): add missing converters to RestAdapters to avoid GSON reflection
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineConfigurationProperties.java
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/Consul.groovy
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenService.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/EurekaUtil.groovy
Owners: @zachsmith1

fix(configserver): make AbstractBootstrapCredentialsConfigurationProvider.getPropertiesMap aware of SecretAwarePropertySource.
  clouddriver-configserver/src/main/java/com/netflix/spinnaker/clouddriver/config/AbstractBootstrapCredentialsConfigurationProvider.java
  clouddriver-web/src/main/java/com/netflix/spinnaker/clouddriver/listeners/ConfigurationRefreshListener.java
  clouddriver-web/src/test/java/com/netflix/spinnaker/clouddriver/controllers/KubernetesCustomPropertyBindingRefreshTest.java
  clouddriver-web/src/test/resources/clouddriver.yml
Owners: none

fix(kubernetes): use getFullResourceName in KubectlJobExecutor.create
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix: Seconds vs. Milliseconds on timeout on SDK. Stage uses seconds, SDK uses milliseconds
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaClientProvider.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

fix(clouddriver): fix broken TARGETARCH comparison on ubuntu base
  Dockerfile.java11.ubuntu
  Dockerfile.ubuntu
Owners: none

chore(dependency): add explicit dependency of com.jcraft:jsch and org.eclipse.jgit:org.eclipse.jgit.ssh.jsch during upgrade of spring boot 2.6.x
  clouddriver-appengine/clouddriver-appengine.gradle
Owners: @zachsmith1

refactor(test): replace deprecated mockito class Matchers with ArgumentMatchers and its methods during upgrade to spring boot 2.6.x
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/cache/CacheRepositoryTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/OrganizationsTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/ServiceInstancesTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/ServiceKeysTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/client/SpacesTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/AbstractCloudFoundryAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/AbstractCloudFoundryServerGroupAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/AbstractLoadBalancersAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/CreateCloudFoundryServiceKeyAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/DeleteCloudFoundryServiceKeyAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/DeployCloudFoundryServerGroupAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/DeployCloudFoundryServiceAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/converters/ScaleCloudFoundryServerGroupAtomicOperationConverterTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/AbstractCloudFoundryLoadBalancerMappingOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DeployCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/DestroyCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/ScaleCloudFoundryServerGroupAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/ShareCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StartCloudFoundryServerGroupAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/StopCloudFoundryServerGroupAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/TerminateCloudFoundryServerGroupAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/UnmapLoadBalancersAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/UnshareCloudFoundryServiceAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/deploy/ops/UpsertCloudFoundryLoadBalancerAtomicOperationTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryLoadBalancerCachingAgentTest.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/agent/CloudFoundryServerGroupCachingAgentTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/CommonCachingAgent.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ContainerInstanceCacheTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ContainerInstanceCachingAgentTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/EcsClusterCacheTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/EcsClusterCachingAgentTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/IamRoleCacheTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/IamRoleCachingAgentTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ServiceCacheTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ServiceCachingAgentTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/TaskCacheTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/TaskCachingAgentTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/TaskDefinitionCacheTest.java
  clouddriver-ecs/src/test/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/TaskDefinitionCachingAgentTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/converters/SetStatefulDiskAtomicOperationConverterTest.java
Owners: @zachsmith1, @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(ecs): Add support for ECS deployment circuit breaker
  clouddriver-ecs/src/integration/java/com/netflix/spinnaker/clouddriver/ecs/test/LoadBalancersSpec.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/ServiceCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/model/Service.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/description/CreateServerGroupDescription.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperation.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ServiceCachingAgent.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperationSpec.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(kubernetes): Support multiple kubectl versions
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

fix(core): Fix type migration issue
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/CloudDriverConfig.java
  gradle.properties
Owners: @cfieber

chore(dependencies): use enforcedPlatform with kork-bom consistently
  build.gradle
  clouddriver-api/clouddriver-api.gradle
  clouddriver-bom/clouddriver-bom.gradle
Owners: none

chore(dependencies): add testRuntimeOnly dependency on kork-bom
  build.gradle
Owners: none

refactor(cats): remove duplicate info from cats-*.gradle
  cats/cats-core/cats-core.gradle
  cats/cats-redis/cats-redis.gradle
  cats/cats-test/cats-test.gradle
Owners: none

chore(dependencies): remove duplicate lombok dependencies
  clouddriver-alicloud/clouddriver-alicloud.gradle
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-configserver/clouddriver-configserver.gradle
  clouddriver-core/clouddriver-core.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-google-common/clouddriver-google-common.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-huaweicloud/clouddriver-huaweicloud.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-lambda/clouddriver-lambda.gradle
  clouddriver-oracle/clouddriver-oracle.gradle
  clouddriver-tencentcloud/clouddriver-tencentcloud.gradle
  clouddriver-titus/clouddriver-titus.gradle
  clouddriver-web/clouddriver-web.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon, @clanesf, @german-muzquiz

chore(dependencies): add api dependency on kork-bom
  build.gradle
Owners: none

refactor(gradle): remove implementation dependency on kork-bom
  build.gradle
Owners: none

refactor(cats/cats-test): remove unused lombok dependency
  cats/cats-test/cats-test.gradle
Owners: none

chore(dependencies): add compileOnly and testCompileOnly dependency on lombok
  build.gradle
  clouddriver-alicloud/clouddriver-alicloud.gradle
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-core/clouddriver-core.gradle
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-google-common/clouddriver-google-common.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-huaweicloud/clouddriver-huaweicloud.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-lambda/clouddriver-lambda.gradle
  clouddriver-oracle/clouddriver-oracle.gradle
  clouddriver-tencentcloud/clouddriver-tencentcloud.gradle
  clouddriver-titus/clouddriver-titus.gradle
  clouddriver-web/clouddriver-web.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon, @clanesf, @german-muzquiz

Be less verbose
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

refactor(kubernetes): refactor and upgrade kubernetes java client apis and its relevant dependency during upgrade to spring boot 2.6.x
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/model/KubernetesJobStatus.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/provider/view/KubernetesJobProvider.java
  clouddriver-web/clouddriver-web.gradle
  clouddriver-web/src/test/java/com/netflix/spinnaker/clouddriver/config/ObjectMapperTest.java
Owners: @clanesf, @german-muzquiz

Upgrade from KIND v0.11.1 to v0.20.0
  .github/workflows/integration-tests-kubernetes.yml
Owners: none

Select correct kubectl version based on Kubernetes version
  .github/workflows/integration-tests-kubernetes.yml
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
Owners: @clanesf, @german-muzquiz

Fix test that failed with kubect v1.26 and above
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

Fix kubectl download path
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
Owners: @clanesf, @german-muzquiz

We can't depend on the jsonpath implementation in kubectl :(
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

Fix import order
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
