Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

fix(docker): resolve the issue of double encoding contained in the ECR's next `link` header causing the Retrofit2 client to fail due to error code `405` and `Message: Method Not Allowed`.
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentialsTest.java
Owners: none

test(docker): add test to demonstrate the issue of double encoding of query parameter when the next link from a docker registry like ECR responds with an encoded url.
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

fix(docker): resolve the issue of double encoding while making the next call to ECR's tags list (#6357)
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentialsTest.java
Owners: none

test(docker): add a test to demonstrate the issue of `Failed to parse ResponseBody : Unrecognized field "child"`
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

fix(docker): resolve the issue of `Failed to parse ResponseBody : Unrecognized field "child"` when google cloud artifact registry responds with additional fields upon invoking tags list api
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

fix(docker): resolve the issue of `Unrecognized field "child"` (#6359)
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6361)
  gradle.properties
Owners: none

fix(clouddriver-google): Fix logic when Instance Types are available only in selected Zones/Regions
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(clouddriver-google): Fix logic when Instance Types are available only in selected Zones/Regions - manual backport (#6352)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(core/test): add a Retrofit2EncodeCorrectionInterceptor bean
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuardTest.java
Owners: @cfieber

fix(docker/test): add a Retrofit2EncodeCorrectionInterceptor bean
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenServiceSpec.groovy
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(core/test): add a Retrofit2EncodeCorrectionInterceptor bean
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuardTest.java
Owners: @cfieber

fix(docker/test): add a Retrofit2EncodeCorrectionInterceptor bean
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenServiceSpec.groovy
Owners: none

chore(dependencies): Autobump korkVersion (#6366)
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuardTest.java
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenServiceSpec.groovy
  gradle.properties
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6369)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6370)
  gradle.properties
Owners: none

fix(ecs): evaluate targetgroup healthcheck in instance healthcheck (#6307)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationService.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationServiceSpec.groovy
Owners: none

test(docker): add a test to demonstrate the issue of fetching docker images due to `java.lang.ArrayIndexOutOfBoundsException: Index 1 out of bounds for length 1`
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

fix(docker): fix the issue of fetching docker images due to `java.lang.ArrayIndexOutOfBoundsException: Index 1 out of bounds for length 1`
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

fix(docker): fix the issue of fetching docker images (#6372)
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

fix(aws): Launch template version of ASG default to when not defined
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProvider.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProviderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(aws): Launch template version of ASG default to when not defined (#6373)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProvider.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProviderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(aws): Launch template version of ASG default to when not defined (#6373)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProvider.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProviderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(aws): Launch template version of ASG default to when not defined (#6373)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProvider.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProviderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(aws): Launch template version of ASG default to when not defined (#6373)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProvider.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/view/AmazonClusterProviderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6377)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6378)
  gradle.properties
Owners: none

chore(google): Add retry and status polling logic for autoscalers and backend services
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
