Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

ci(mergify): upgrade configuration to current format
  .mergify.yml
Owners: none

fix(ecs): check null for loadBalancer attribute
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationService.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationServiceSpec.groovy
Owners: none

ci(mergify): upgrade configuration to current format
  .mergify.yml
Owners: none

fix(openapi): Rewrite Swagger to OpenAPI annotations
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/controllers/PodController.java
  clouddriver-web/clouddriver-web.gradle
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/JobController.groovy
  gradle.properties
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

Update gradle.properties
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

ci(mergify): upgrade configuration to current format
  .mergify.yml
Owners: none

fix(tests): refactor a test to consume retrofit2 interfaces FiatService
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupControllerTest.java
Owners: none

refactor(ecs): improve testing and use targetHealth to determine status only if containerHealthcheck is UNKNOWN
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationService.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationServiceSpec.groovy
Owners: none

fix(ecs): evaluate TargetHealth check if container deployed does have target groups associated
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationService.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/ContainerInformationServiceSpec.groovy
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

fix(tests): refactor a test to consume retrofit2 interfaces FiatService
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupControllerTest.java
Owners: none

fix(ecs): Cloudwatch alarms cleanup on destroy ecs group
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/EcsCloudMetricService.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/EcsCloudMetricServiceSpec.groovy
Owners: none

fix(ecs): Cloudwatch alarms cleanup on destroy ecs group (#6315)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/services/EcsCloudMetricService.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/services/EcsCloudMetricServiceSpec.groovy
Owners: none

feat(aws): CleanupAlarmsAgent with an optional user-defined name pattern
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/AwsConfigurationProperties.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgent.groovy
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(aws): CleanupAlarmsAgent with an optional user-defined name pattern (#6317)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/AwsConfigurationProperties.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgent.groovy
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(aws): CleanupAlarmsAgent with an optional user-defined name pattern (#6317)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/AwsConfigurationProperties.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgent.groovy
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(aws): CleanupAlarmsAgent with an optional user-defined name pattern (#6317)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/AwsConfigurationProperties.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgent.groovy
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(mergify): Mergify config needs adjusting for latest mergify releases
  .mergify.yml
Owners: none

fix(mergify): Add integration test checks
  .mergify.yml
Owners: none

fix(mergify): Add integration test checks
  .mergify.yml
Owners: none

fix(mergify): Add integration test checks
  .mergify.yml
Owners: none

fix(default-handler)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

feat: Add the possibility to update the default handler for the Global Resource Property Registry. (#5963)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/GlobalResourcePropertyRegistry.java
Owners: @clanesf, @german-muzquiz

fix(ecs): Alarms with custom dimensions should be processed
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/EcsCloudWatchAlarmCacheClient.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/cache/EcsCloudWatchAlarmCacheClientSpec.groovy
Owners: none

fix(mergify): Use just queue_conditions
  .mergify.yml
Owners: none

fix(ecs): Alarms with custom dimensions should be processed (#6324)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/EcsCloudWatchAlarmCacheClient.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/cache/EcsCloudWatchAlarmCacheClientSpec.groovy
Owners: none

fix(mergify): Mergify config needs adjusting for latest mergify releases (#6321)
  .mergify.yml
Owners: none

fix(mergify): Mergify config needs adjusting for latest mergify releases (#6321)
  .mergify.yml
Owners: none

fix(mergify): Mergify config needs adjusting for latest mergify releases (#6321)
  .mergify.yml
Owners: none

fix(mergify): Mergify config needs adjusting for latest mergify releases (#6321)
  .mergify.yml
Owners: none

fix(openapi): Rewrite Swagger to OpenAPI annotations (#6309)
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/controllers/PodController.java
  clouddriver-web/clouddriver-web.gradle
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/JobController.groovy
  gradle.properties
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6331)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(google): include partnerMetadata in InstanceTemplates
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplates.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgent.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(google): remove default view and add tests
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplates.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgent.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplatesTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(google): format comment
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgent.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(google): remove unused imports
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplatesTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
