Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

fix(aws): CleanupAlarmsAgent cycle to catch exceptions
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupAlarmsAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/agent/CleanupDetachedInstancesAgent.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(google): make FULL the default view in instanceTemplate client
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplates.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgent.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplatesTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(google): Add partner metadata on instanceTemplate properties (#6334)
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplates.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/compute/InstanceTemplatesTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6336)
  gradle.properties
Owners: none

fix(kubernetes): tolerate an empty manifest in KubernetesDeployManifestOperation
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/KubernetesDeployManifestOperationTest.java
  clouddriver-kubernetes/src/test/resources/com/netflix/spinnaker/clouddriver/kubernetes/op/deploy/empty-resource.yml
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

test(core): add test for TaskRepository.listByThisInstance
  clouddriver-core-tck/src/main/java/com/netflix/spinnaker/clouddriver/core/test/TaskRepositoryTck.java
Owners: none

fix(core): fix InMemoryTaskRepository.listByThisInstance
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/data/task/InMemoryTaskRepository.groovy
Owners: @cfieber

refactor(sql): clean up some imports and add comments to SqlTaskRepository.runningTaskIds
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/SqlTaskRepository.kt
Owners: none

refactor(web): add logging to OperationsController.destroy
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/OperationsController.groovy
Owners: none

refactor(retrofit2): Upgrade MetadataService client from retrofit to retrofit2
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineConfigurationProperties.java
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/config/AppengineCredentialsConfiguration.java
  clouddriver-appengine/src/test/java/com/netflix/spinnaker/clouddriver/appengine/config/AppEngineAccountCredentialsRepoTest.java
Owners: @zachsmith1

refactor(retrofit2): Upgrade Front50Service client from retrofit to retrofit2
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/front50/Front50ArtifactCredentials.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProvider.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/deploy/ops/RegisterConsulInstance.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/deploy/ops/UpsertConsulLoadBalancer.groovy
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/services/Front50Service.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/RetrofitConfig.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/core/ProjectClustersService.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/orchestration/sagas/LoadFront50App.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuard.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/search/ApplicationSearchProvider.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/search/ProjectSearchProvider.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/core/ProjectClustersServiceSpec.groovy
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/safety/TrafficGuardSpec.groovy
  clouddriver-elasticsearch/clouddriver-elasticsearch.gradle
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/model/ElasticSearchEntityTagsProvider.java
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/model/ElasticSearchEntityTagsReconciler.java
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/ops/BulkUpsertEntityTagsAtomicOperation.java
  clouddriver-elasticsearch/src/main/java/com/netflix/spinnaker/clouddriver/elasticsearch/ops/DeleteEntityTagsAtomicOperation.java
  clouddriver-elasticsearch/src/test/groovy/com/netflix/spinnaker/clouddriver/elasticsearch/model/ElasticSearchEntityTagsProviderSpec.groovy
  clouddriver-elasticsearch/src/test/groovy/com/netflix/spinnaker/clouddriver/elasticsearch/model/ElasticSearchEntityTagsReconcilerSpec.groovy
  clouddriver-elasticsearch/src/test/groovy/com/netflix/spinnaker/clouddriver/elasticsearch/ops/BulkUpsertEntityTagsAtomicOperationSpec.groovy
  clouddriver-elasticsearch/src/test/groovy/com/netflix/spinnaker/clouddriver/elasticsearch/ops/DeleteEntityTagsAtomicOperationSpec.groovy
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/Front50ApplicationLoader.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCoreCachingAgentTest.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @cfieber, @clanesf, @german-muzquiz

refactor(retrofit2): Upgrade AgentApi, KeyValueApi and CatalogApi clients from retrofit to retrofit2
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/Consul.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulAgent.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulCatalog.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulKeyValueStore.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/services/AgentApi.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/services/CatalogApi.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/services/KeyValueApi.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/config/ConsulConfig.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/deploy/ops/EnableDisableConsulInstance.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/provider/ConsulProviderUtils.groovy
  clouddriver-google/clouddriver-google.gradle
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/ops/AbstractEnableDisableAtomicOperation.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleInstanceCachingAgent.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/security/GoogleNamedAccountCredentials.groovy
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/config/GoogleCredentialsConfiguration.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/model/GoogleInstances.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgent.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleRegionalServerGroupCachingAgent.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleZonalServerGroupCachingAgent.java
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/security/GoogleCredentialsLifecycleHandler.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/AbstractGoogleServerGroupCachingAgentTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleRegionalServerGroupCachingAgentTest.java
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleZonalServerGroupCachingAgentTest.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/config/GoogleCredentialsConfigurationTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(retrofit2): Upgrade EddaApi client from retrofit to retrofit2
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/edda/EddaApi.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/edda/EddaApiFactory.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/edda/EddaConfiguration.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/EddaLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/security/AmazonCredentialsLifecycleHandlerSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

refactor(retrofit2): remove all retrofit1 references
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-appengine/src/main/java/com/netflix/spinnaker/clouddriver/appengine/artifacts/config/StorageConfigurationProperties.java
  clouddriver-aws/src/integration/java/com/netflix/spinnaker/clouddriver/aws/test/ModifyServerGroupLaunchTemplateSpec.java
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/safety/TrafficGuardSpec.groovy
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/provider/agent/DockerRegistryImageCachingAgentTest.groovy
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-elasticsearch/clouddriver-elasticsearch.gradle
  clouddriver-elasticsearch/src/test/groovy/com/netflix/spinnaker/clouddriver/elasticsearch/ops/DeleteEntityTagsAtomicOperationSpec.groovy
  clouddriver-google/clouddriver-google.gradle
  clouddriver-lambda/clouddriver-lambda.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(retrofit2): Upgrade TokenService client from retrofit to retrofit2
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenService.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentials.groovy
  clouddriver-docker/src/main/java/com/netflix/spinnaker/config/DockerRegistryConfiguration.java
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenServiceSpec.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentialsTest.java
Owners: none

refactor(retrofit2): Upgrade DockerRegistryService client from retrofit to retrofit2
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenService.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/main/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DefaultDockerOkClientProvider.java
  clouddriver-docker/src/main/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerOkClientProvider.java
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentialsTest.java
Owners: none

refactor(retrofit2): Upgrade Eureka, EurekaApi clients from retrofit to retrofit2
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/services/RegionScopedProviderFactory.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/DisableAsgAtomicOperationUnitSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/EnableAsgAtomicOperationUnitSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/discovery/DiscoverySupportUnitSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/userdata/LocalFileUserDataProviderSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorkerSpec.groovy
  clouddriver-eureka/clouddriver-eureka.gradle
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/api/Eureka.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/api/EurekaApi.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/api/EurekaApiFactory.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/EurekaUtil.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/provider/agent/EurekaCachingAgent.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/config/EurekaProviderConfiguration.groovy
  clouddriver-eureka/src/test/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupportSpec.groovy
  clouddriver-eureka/src/test/groovy/com/netflix/spinnaker/clouddriver/eureka/provider/agent/EurekaCachingAgentSpec.groovy
  clouddriver-titus/clouddriver-titus.gradle
  clouddriver-titus/src/main/groovy/com/netflix/spinnaker/clouddriver/titus/deploy/ops/discovery/TitusEurekaSupport.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

refactor(retrofit2): cleaned up unused comments, imports etc
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenServiceSpec.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(aws): add retries to AWS credential parsing
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/AmazonCredentialsParser.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/CredentialsConfig.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/security/config/CredentialsLoaderSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

test(retrofit2): add test to verify retrofit2 error handling
  clouddriver-core/clouddriver-core.gradle
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/config/RetrofitConfig.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuardTest.java
Owners: @cfieber

fix(ubuntu): add commands so apt-get can install libc
  Dockerfile.ubuntu
Owners: none

fix(build): Uses a hard coded qemu for builds due to a bug in latest ubuntu kernel mismatch
  .github/workflows/build.yml
Owners: none

fix(build): Uses a hard coded qemu for builds due to a bug in latest ubuntu kernel mismatch
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(aws): configurable duration of assume role sessions
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/AssumeRoleAmazonCredentials.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/NetflixAmazonCredentials.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/NetflixAssumeRoleAmazonCredentials.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/NetflixSTSAssumeRoleSessionCredentialsProvider.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/AccountsConfiguration.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/AmazonCredentialsParser.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/config/CredentialsConfig.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/sdkclient/ProxyHandlerBuilder.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ImageCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/security/config/CredentialsLoaderSpec.groovy
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/security/EcsAccountBuilder.java
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(lambda/test): keep up with lambdaEnabled accessor change (get -> is)
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/AbstractLambdaAtomicOperationTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaServiceTest.java
Owners: @zachsmith1

fix(lambda): keep up with lambdaEnabled accessor change (get -> is)
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaClientProvider.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaAgentProvider.java
Owners: @zachsmith1

refactor(dependency): upgrade wiremock as part of spring boot 3.x and spring cloud 2022.0.x upgrade
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-elasticsearch/clouddriver-elasticsearch.gradle
  clouddriver-titus/clouddriver-titus.gradle
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/Main.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

fix(gha): fix branch detection error
  .github/workflows/release.yml
Owners: none

fix(clouddriver-google): Fix logic when Instance Types are available only in selected Zones/Regions - manual backport
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(clouddriver-google): Fix logic when Instance Types are available only in selected Zones/Regions
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(clouddriver-google): Fix logic when Instance Types are available only in selected Zones/Regions (#6351)
  clouddriver-google/src/main/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandler.java
  clouddriver-google/src/test/java/com/netflix/spinnaker/clouddriver/google/deploy/handlers/BasicGoogleDeployHandlerTest.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

fix(docker): fix the issue of retrofit2 replacing `?` with `%3F` causing api failure with 400
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryServiceTest.java
Owners: none

fix(docker): address review comments on the fix to the issue of retrofit2 replacing `?` with `%3F` causing api failure with 400
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenService.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryServiceTest.java
Owners: none

fix(docker): fix retrofit2 docker client which is replacing `?` with `%3F` causing api failure (#6354)
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/auth/DockerBearerTokenService.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
  clouddriver-docker/src/test/java/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientTest.java
Owners: none

test(cats-sql): actually execute groovy tests
  cats/cats-sql/cats-sql.gradle
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/MySqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/PostgreSqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/SqlProviderCacheSpec.groovy
Owners: none

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
