Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

refactor(appengine): remove isDisabled() method with groovy 3 upgrade
  clouddriver-appengine/src/main/groovy/com/netflix/spinnaker/clouddriver/appengine/model/AppengineServerGroup.groovy
Owners: @zachsmith1

refactor(oracle): remove isDisabled() method with groovy 3 upgrade
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/model/OracleServerGroup.groovy
Owners: none

refactor(core/test): remove isDisabled() method with groovy 3 upgrade
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/model/SimpleServerGroup.groovy
Owners: @cfieber

refactor(google): remove isDisabled() method with groovy 3 upgrade
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/model/GoogleServerGroup.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(aws/test): remove isDisabled() method with groovy 3 upgrade
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/SimpleServerGroup.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/discovery/DiscoverySupportUnitSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

refactor(test): add runtime jupiter engine and remove vintage engine with upgrade of groovy 3
  build.gradle
  cats/cats-test/cats-test.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(aws/test): keep up with SpinnakerNetworkException constructor changes
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorkerSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(provider/google): Modified the CloudrunDeployManifestDescriptionTest class to use the junit 5 constructs.
  clouddriver-cloudrun/src/test/java/com/netflix/spinnaker/clouddriver/cloudrun/deploy/converters/CloudrunDeployManifestDescriptionTest.java
Owners: none

refactor(azure): fix incompatible generic type issue faced during upgrade to springboot 2.5.15
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/client/AzureNetworkClient.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/security/AzureCredentialsInitializer.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(azure): refactor boolean field to use default getter implementation of groovy 3.x
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/cache/AzureServerGroupCachingAgent.groovy
  clouddriver-azure/src/main/groovy/com/netflix/spinnaker/clouddriver/azure/resources/servergroup/model/AzureServerGroupDescription.groovy
Owners: none

fix(aws/test): Fix requests for time in "where" not fixed
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/AsgConfigHelperSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(databaseChangeLog): rollback element's indentation correction
  clouddriver-sql/src/main/resources/db/changelog/20210106-task-outputs.yml
Owners: none

Revert "feat(kubectl): Extract interface for KubectlJobExecutor and use it. (#6076)"
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCachingAgent.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesInstanceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/DefaultKubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/provider/view/KubernetesJobProviderSpec.groovy
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsSpec.groovy
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesNamedAccountCredentialsSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesDataProviderIntegrationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesInstanceProviderTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubernetesRunJobOperationTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentialsTest.java
Owners: @clanesf, @german-muzquiz

feat(gcp): provide a configurable option to bypass gcp account health check.
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/config/GoogleConfigurationProperties.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gcp): replace with in-line check solution.
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicator.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

feat(provider/kubernetes): support for kubectl server-side-apply strategy
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestStrategy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestStrategyTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeployTest.java
Owners: @clanesf, @german-muzquiz

feat(gcp): provide a configurable option to bypass gcp account health check. (#6093)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/config/GoogleConfigurationProperties.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gcp): provide a configurable option to bypass gcp account health check. (#6093)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/config/GoogleConfigurationProperties.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gcp): provide a configurable option to bypass gcp account health check. (#6093)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/config/GoogleConfigurationProperties.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gcp): provide a configurable option to bypass gcp account health check. (#6093)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/config/GoogleConfigurationProperties.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gcp): provide a configurable option to bypass gcp account health check. (#6093)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/config/GoogleConfigurationProperties.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/config/GoogleConfiguration.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/health/GoogleHealthIndicatorSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/StubComputeFactory.java
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

refactor(event): replace deprecated method to fix error during upgrade to Kotlin 1.5.32
  clouddriver-event/src/main/kotlin/com/netflix/spinnaker/clouddriver/event/persistence/InMemoryEventRepository.kt
Owners: none

refactor(saga/test): replace deprecated method during upgrade to Kotlin 1.5.32
  clouddriver-saga-test/src/main/kotlin/com/netflix/spinnaker/clouddriver/saga/TestingSagaRepository.kt
  clouddriver-saga/src/main/kotlin/com/netflix/spinnaker/clouddriver/saga/flow/SagaFlowIterator.kt
  clouddriver-saga/src/main/kotlin/com/netflix/spinnaker/clouddriver/saga/models/Saga.kt
Owners: @cfieber

server-side-apply: support force-conflicts
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestStrategy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeploy.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesManifestStrategyTest.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/CanDeployTest.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(cats): passing incorrect redis config into interval provider
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.java
Owners: @cfieber

fix(cats): passing incorrect redis config into interval provider (#6105)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.java
Owners: @cfieber

fix(cats): passing incorrect redis config into interval provider (#6105)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.java
Owners: @cfieber

fix(cats): passing incorrect redis config into interval provider (#6105)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.java
Owners: @cfieber

fix(cats): passing incorrect redis config into interval provider (#6105)
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/cache/RedisCacheConfig.java
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependency): upgrade kotlin to 1.5.32 in clouddriver along with kork
  build.gradle
  gradle.properties
  gradle/kotlin-test.gradle
  gradle/kotlin.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
