Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(docker): Parse date into Instant when using sortTagsByDate
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupController.groovy
Owners: none

docker(fix): Import java.time.Instant
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupController.groovy
Owners: none

ffeat(ecs): Formatting of code
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/ServiceCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/description/CreateServerGroupDescription.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ServiceCachingAgent.java
Owners: none

feat(ecs): remove unnecessary lines of code, oriented at enableExecuteCommand
  clouddriver-ecs/src/integration/java/com/netflix/spinnaker/clouddriver/ecs/test/LoadBalancersSpec.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/client/ServiceCacheClient.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/cache/model/Service.java
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/agent/ServiceCachingAgent.java
Owners: none

fix(ecs): used wrong syntax to test for enabled deploymentCircuitBreaker
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/deploy/ops/CreateServerGroupAtomicOperationSpec.groovy
Owners: none

fix(sql): Fix indexes for the accounts table
  clouddriver-sql/src/main/resources/db/changelog-master.yml
  clouddriver-sql/src/main/resources/db/changelog/20240111-accounts-indexes.yml
Owners: none

test(provider/docker): Add test for `WWW-Authenticate` header parsing
  clouddriver-docker/src/test/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClientSpec.groovy
Owners: none

fix(provider/docker): Support multiple challenges from `WWW-Authenticate` header
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
Owners: none

refactor(core-tests): DescriptionAuthorizerService tests to java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceSpec.groovy
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceTest.java
Owners: @cfieber

refactor(core/tests): improve DescriptionAuthorizerServiceTest
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceTest.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/DefaultAccountSecurityPolicyTest.java
Owners: @cfieber

Fix comment
  .github/workflows/integration-tests-kubernetes.yml
Owners: none

Replace switch with map
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
Owners: @clanesf, @german-muzquiz

fix(aws): Fix bug in AWS provider after Groovy 3 upgrade
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgent.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

Fix symlink
  Dockerfile.java11.slim
  Dockerfile.java11.ubuntu
  Dockerfile.slim
  Dockerfile.ubuntu
  clouddriver-web/pkg_scripts/postInstall.sh
Owners: none

Add tests
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonSecurityGroupCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

Move all of the kubectl version selection code out to the github actions definition
  .github/workflows/integration-tests-kubernetes.yml
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
Owners: @clanesf, @german-muzquiz

Second try on the matrix definition
  .github/workflows/integration-tests-kubernetes.yml
Owners: none

Make the titles in GHA a bit more readable
  .github/workflows/integration-tests-kubernetes.yml
Owners: none

Move the constant back to the original position
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
Owners: @clanesf, @german-muzquiz

fix(aws): Fix bug in AWS provider after Groovy 3 upgrade (#6142)
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgent.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonSecurityGroupCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#6144)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6148)
  gradle.properties
Owners: none

test(account): Test validateAccountWritePermissions
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionService.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionServiceTest.java
Owners: @cfieber

fix(account): Allow reflection to read private fields
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/AccountDefinitionService.java
Owners: @cfieber

feat(account): Implement isAccountManager
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/security/DefaultAccountSecurityPolicy.java
Owners: @cfieber

test(account): Define when an account manager can modify accounts
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/security/DefaultAccountSecurityPolicyTest.java
Owners: @cfieber

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(build): give gradle more memory
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  Dockerfile.compile
  gradle.properties
Owners: none

fix(build): 8g isn't enough, try 10
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  Dockerfile.compile
  gradle.properties
Owners: none

chore(dependency): fix issues after upgrading oci-java-sdk-bom to 2.32.0 in kork
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/CredentialReader.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/oracle/OracleArtifactClient.java
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/provider/agent/AbstractOracleCachingAgent.groovy
Owners: none

chore(dependency): exclude bouncycastle *-jdk15on libraries from com.yandex.cloud:java-sdk-services to remove CVE-2023-33201
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependency): fix issues after upgrading oci-java-sdk-bom to 2.32.0 in kork
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/CredentialReader.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/oracle/OracleArtifactClient.java
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/provider/agent/AbstractOracleCachingAgent.groovy
Owners: none

chore(dependency): exclude bouncycastle *-jdk15on libraries from com.yandex.cloud:java-sdk-services to remove CVE-2023-33201
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: none

fix(build): give gradle more memory
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  Dockerfile.compile
  gradle.properties
Owners: none

12g not enough, try 14g.
  .github/workflows/integration_tests.yml
Owners: none

14g not enough, try 16g.
  .github/workflows/integration_tests.yml
Owners: none
