Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6016)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#6017)
  gradle.properties
Owners: none

chore(gha): update actions to try to solve no space left on device errors
  .github/workflows/release.yml
Owners: none

chore(gha): update to docker/login-action@v2 to stay up to date (#5920)
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: none

chore(gha): update to docker/login-action@v2 to stay up to date (#5920)
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: none

chore(gha): replace action for creating github releases (#5929)
  .github/workflows/release.yml
Owners: none

chore(gha): resolve conflicts
  .github/workflows/release.yml
Owners: none

chore(gha): replace action for creating github releases (#5929)
  .github/workflows/release.yml
Owners: none

chore(gha): resolve conflicts
  .github/workflows/release.yml
Owners: none

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/DisableAsgAtomicOperationUnitSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/discovery/DiscoverySupportUnitSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorkerSpec.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

Update clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
Owners: none

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorker.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/discovery/DiscoverySupportUnitSpec.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/config/ConsulConfig.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/provider/ConsulProviderUtils.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/provider/agent/DockerRegistryImageCachingAgent.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/security/DockerRegistryNamedAccountCredentials.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
Owners: none

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/safety/TrafficGuardSpec.groovy
Owners: @cfieber

chore(gha): replace deprecated set-output commands with environment files (#5930)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

chore(gha): replace deprecated set-output commands with environment files (#5930)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/provider/agent/DockerRegistryImageCachingAgent.groovy
Owners: none

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/provider/agent/DockerRegistryImageCachingAgent.groovy
Owners: none

fix: Fix docker build in GHA by removing some of the GHA tools
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

fix: Fix docker build in GHA by removing some of the GHA tools (#6033)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

fix: Fix docker build in GHA by removing some of the GHA tools (#6033)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

fix: Fix docker build in GHA by removing some of the GHA tools (#6033)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

fix: Fix docker build in GHA by removing some of the GHA tools (#6033)
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Owners: none

feat(integration-tests): updated version of kind and added images for k8s v1.19 - v1.28 for the tests to run against in parallel
  .github/workflows/build.yml
  .github/workflows/integration-tests-kubernetes.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/InstanceTypeUtilsSpec.groovy
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/BaseTest.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/utils/KubeTestUtils.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @clanesf, @german-muzquiz

feat(integration-tests): updated version of kind and added images for k8s v1.19 - v1.28 for the tests to run against in parallel
  .github/workflows/integration-tests-kubernetes.yml
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/BaseTest.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/containers/KubernetesCluster.java
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/utils/KubeTestUtils.java
Owners: @clanesf, @german-muzquiz

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorker.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/DisableAsgAtomicOperationUnitSpec.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/safety/TrafficGuard.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/safety/TrafficGuardSpec.groovy
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/api/v2/client/DockerRegistryClient.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens, @cfieber

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorker.java
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/DisableAsgAtomicOperationUnitSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/safety/TrafficGuardSpec.groovy
Owners: @cfieber

feat(retrofit): Replace RetrofitError catch blocks and add spinnakerErrorHandler.
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/lifecycle/InstanceTerminationLifecycleWorker.java
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulAgent.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulCatalog.groovy
  clouddriver-consul/src/main/groovy/com/netflix/spinnaker/clouddriver/consul/api/v1/ConsulKeyValueStore.groovy
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/deploy/ops/AbstractEurekaSupport.groovy
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens

feat(lambda): Lambda calls default timeout after 50 seconds causing longer running lambdas to fail. This adds configurable timeouts for lambda invocations
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaOperationsConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

refactor(oracle): introduce explicit constructor and initialization of inner class members
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/model/OracleCluster.groovy
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

refactor(oracle): introduce explicit constructor for initialization of inner class members in OracleServerGroup.groovy
  clouddriver-oracle/src/main/groovy/com/netflix/spinnaker/clouddriver/oracle/model/OracleServerGroup.groovy
Owners: none

feat(lambda): Lambda calls default timeout after 50 seconds causing longer running lambdas to fail. This adds configurable timeouts for lambda invocations (#6041)
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaOperationsConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

feat(lambda): Lambda calls default timeout after 50 seconds causing longer running lambdas to fail. This adds configurable timeouts for lambda invocations (#6041)
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaOperationsConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

feat(lambda): Lambda calls default timeout after 50 seconds causing longer running lambdas to fail. This adds configurable timeouts for lambda invocations (#6041)
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaOperationsConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
Owners: @zachsmith1

fix(lambda): Fixes what is a duplicate retry system with the default lambda retry system and a bunch of refactoring around this.
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/AmazonClientProvider.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/sdkclient/AwsSdkClientSupplier.java
  clouddriver-aws/src/main/java/com/netflix/spinnaker/clouddriver/aws/security/sdkclient/ProxyHandlerBuilder.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/asg/AsgConfigHelperSpec.groovy
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/description/InvokeLambdaFunctionDescription.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/AbstractLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/AbstractLambdaProvider.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/CreateLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/LambdaOperationsConfig.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/UpdateLambdaConfigurationAtomicOperation.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaAgentProvider.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgent.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaService.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/clouddriver/lambda/service/config/LambdaServiceConfig.java
  clouddriver-lambda/src/main/java/com/netflix/spinnaker/config/LambdaServiceConfig.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/AbstractLambdaAtomicOperationTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/deploy/ops/InvokeLambdaAtomicOperationTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/provider/agent/LambdaCachingAgentTest.java
  clouddriver-lambda/src/test/java/com/netflix/spinnaker/clouddriver/lambda/service/LambdaServiceTest.java
Owners: @jeyrschabu, @aravindmd, @ajordens, @zachsmith1

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
