Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz, @plumpy, @robzienert, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @maggieneterval @ezimanyi @ethanfrogers @german-muzquiz
clouddriver-google/        @maggieneterval @ezimanyi @plumpy

clouddriver-saga/          @robzienert @cfieber
clouddriver-core/          @robzienert @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(dynamicAccounts): Included java files in source set
  clouddriver-configserver/clouddriver-configserver.gradle
Owners: none

fix(dynamicAccounts): Compilation error for testing
  clouddriver-configserver/src/main/java/com/netflix/spinnaker/clouddriver/cache/CloudConfigRefreshConfig.java
Owners: none

chore(build): gradle 6.7
  gradle/wrapper/gradle-wrapper.properties
Owners: none

fix(dynamicAccounts): Included java files in source set
  clouddriver-configserver/clouddriver-configserver.gradle
Owners: none

fix(dynamicAccounts): Removed compilation error
  clouddriver-configserver/src/main/java/com/netflix/spinnaker/clouddriver/cache/CloudConfigRefreshConfig.java
Owners: none

feat(aws): Add filtering of AutoScalingGroups to include/exclude based on Tags
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCachingAgentFilterConfiguration.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/security/AmazonCredentialsLifecycleHandler.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/security/AmazonCredentialsLifecycleHandlerSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(ecs): Ensure null is returned when account does not exist
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsAccountMapper.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcsAccountMapperSpec.groovy
Owners: none

feat(artifacts): Provide an option to override the timeout config for github artifacts.
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactProviderProperties.java
Owners: none

feat(sql): Update field types
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/SqlUtil.kt
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/controllers/CatsSqlAdminController.kt
  clouddriver-sql-postgres/clouddriver-sql-postgres.gradle
  clouddriver-sql/src/main/resources/db/changelog-master.yml
  clouddriver-sql/src/main/resources/db/changelog/20201110-field-type-postgres.yml
  clouddriver-web/clouddriver-web.gradle
  settings.gradle
Owners: none

refactor(aws): Refactor AmazonCachingAgentFilter for better reuse
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCachingAgentFilter.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCachingAgentFilterConfiguration.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/security/AmazonCredentialsLifecycleHandler.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCachingAgentFilterSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/ClusterCachingAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(sql): default limits per dialect
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/SqlUtil.kt
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlCache.kt
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlNames.kt
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/config/SqlCacheConfiguration.kt
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/config/SqlConstraints.kt
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlNamesTest.kt
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlUnknownAgentCleanupAgentTest.kt
Owners: none

fix(artifacts): read the okhttp client properties from kork OkHttpClientConfigurationProperties
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/config/ArtifactConfiguration.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(sql/test): Use Jackson's real annotation
  clouddriver-sql/src/test/kotlin/com/netflix/spinnaker/clouddriver/sql/event/SqlEventRepositoryTest.kt
Owners: none

feat(artifacts): Update okhttp client to okhttp3 provided by kork-web.
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/config/BaseHttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/config/SimpleHttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/jenkins/JenkinsArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/jenkins/JenkinsArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/config/ArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/config/ArtifactProviderProperties.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/github/GithubArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactCredentialsTest.java
Owners: none

fix(artifacts): fixed formatting issue which was causing build failure
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/config/BaseHttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/config/SimpleHttpArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentials.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/jenkins/JenkinsArtifactConfiguration.java
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/config/ArtifactConfiguration.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/bitbucket/BitbucketArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/github/GithubArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/gitlab/GitlabArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentialsTest.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/http/HttpArtifactCredentialsTest.java
Owners: none

fix(titus): Add app specific security group to all titus job types
  clouddriver-titus/src/main/groovy/com/netflix/spinnaker/clouddriver/titus/deploy/actions/PrepareTitusDeploy.java
Owners: @jeyrschabu, @aravindmd, @ajordens

feat(sql): add postgres test
  cats/cats-sql/cats-sql.gradle
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/MySqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/PostgreSqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/SqlCacheSpec.groovy
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/SqlProviderCacheSpec.groovy
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlNamesTest.kt
Owners: none

fix(docker): Support sortTagsByDate for SQL cache
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupController.groovy
Owners: none

fix(docker): remove no need import
  clouddriver-docker/src/main/groovy/com/netflix/spinnaker/clouddriver/docker/registry/controllers/DockerRegistryImageLookupController.groovy
Owners: none

fix(kubernetes): k8s event timestamp should be null safe
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesManifestContainerBuilder.java
Owners: @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

fix(dynamicAccounts): Included java files in source set (#5090)
  clouddriver-configserver/clouddriver-configserver.gradle
Owners: none

Use Comparator's nullsLast instead of Optional
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesManifestContainerBuilder.java
Owners: @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

fix(agents): Add additional cleanup agents when agentScheduler is null
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/security/AmazonCredentialsLifecycleHandlerSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(*): Pass OkHttpMetricsInterceptorProperties to OkHttpMetricsInterceptor constructor
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/config/EurekaProviderConfiguration.groovy
Owners: none

fix(cf): changed locationFilter to spaceFilter and added spacesLive to jsonIgnored
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/config/CloudFoundryConfigurationProperties.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/provider/config/CloudFoundryProviderConfig.java
  clouddriver-cloudfoundry/src/main/java/com/netflix/spinnaker/clouddriver/cloudfoundry/security/CloudFoundryCredentials.java
  clouddriver-cloudfoundry/src/test/java/com/netflix/spinnaker/clouddriver/cloudfoundry/security/CloudFoundryCredentialsTest.java
Owners: none

[gavin] - Added patched publishing
  .github/workflows-original/build.yml
  .github/workflows-original/bump_dependencies.yml
  .github/workflows-original/gradle-wrapper-validation.yml
  .github/workflows-original/integration_tests.yml
  .github/workflows-original/pr.yml
  .github/workflows-original/release.yml
  .github/workflows-original/release_info.sh
  .github/workflows/release.yml
  .idea/gradle.xml
  build.gradle
Owners: none

Remove cloudProvider attribute
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/model/KubernetesRawResource.java
Owners: @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

Add rawResource provider + cacheAllRelationships tests
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesCacheUtils.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCacheDataConvertSpec.groovy
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesRawResourceProviderTest.java
Owners: @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

Moved entire raw resource implementation to the Kubernetes provider
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/NoopRawResourceProvider.java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/RawResource.java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/RawResourceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/model/KubernetesRawResource.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesRawResourceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/RawResourcesEndpointConfig.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/controllers/RawResourceController.java
Owners: @robzienert, @cfieber, @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

feat(kubernetes): Add raw resources endpoint
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/NoopRawResourceProvider.java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/RawResource.java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/RawResourceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCacheDataConverter.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCachingAgent.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/model/KubernetesRawResource.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesCacheUtils.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/caching/view/provider/KubernetesRawResourceProvider.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/KubernetesConfigurationProperties.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/RawResourcesEndpointConfig.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/security/KubernetesCredentials.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/caching/agent/KubernetesCacheDataConvertSpec.groovy
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/RawResourceController.java
Owners: @robzienert, @cfieber, @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

fix(kubernetes): Ensure overridden namespace is used for deploy manifest validations
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/validator/manifest/KubernetesDeployManifestValidator.java
  clouddriver-kubernetes/src/test/groovy/com/netflix/spinnaker/clouddriver/kubernetes/validator/KubernetesDeployManifestValidatorSpec.groovy
Owners: @maggieneterval, @ezimanyi, @ethanfrogers, @german-muzquiz

fix(serverGroup): Set instanceType in view model for asgs with launch templates
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ServerGroupController.groovy
Owners: none

feat(sql): fix Sql scheduler, fix migration checksum
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlUnknownAgentCleanupAgent.kt
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/cluster/SqlClusteredAgentScheduler.kt
  clouddriver-sql/src/main/resources/db/changelog/20190822-initial-event-schema.yml
Owners: none

feat(sql): simplify test case
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlNamesTest.kt
  cats/cats-sql/src/test/kotlin/com/netflix/spinnaker/cats/sql/cache/SqlUnknownAgentCleanupAgentTest.kt
Owners: none

feat(aws): Add filtering of LoadBalancers to include/exclude based on Tags
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AbstractAmazonLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCachingAgentFilter.java
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgent.groovy
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/provider/config/ProviderHelpers.java
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonApplicationLoadBalancerCachingAgentSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonCachingAgentFilterSpec.groovy
  clouddriver-aws/src/test/groovy/com/netflix/spinnaker/clouddriver/aws/provider/agent/AmazonLoadBalancerCachingAgentSpec.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(saga): In reality, the argument to `parseSagaResult` can be `null`
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/orchestration/sagas/AbstractSagaAtomicOperation.java
  clouddriver-eureka/src/main/groovy/com/netflix/spinnaker/clouddriver/eureka/provider/agent/EurekaCachingAgent.groovy
Owners: @robzienert, @cfieber

fix(serverGroup): Fix instanceType assignment
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ServerGroupController.groovy
Owners: none

feat(sql): fix hardcoded mysql
  cats/cats-sql/src/main/kotlin/com/netflix/spinnaker/cats/sql/controllers/CatsSqlAdminController.kt
  cats/cats-sql/src/test/groovy/com/netflix/spinnaker/cats/sql/PostgreSqlCacheSpec.groovy
  clouddriver-sql/src/main/resources/db/changelog/20201110-field-type-postgres.yml
Owners: none

fix(aws): Better support for serializing `instanceType`
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/model/AmazonServerGroup.groovy
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/ServerGroup.java
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/ServerGroupController.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens, @robzienert, @cfieber
