Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens

fix(kubernetes): Revert to using the dockerImage Artifact Replacer for cronjobs (#5876)
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/Replacer.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesCronJobHandler.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ReplacerTest.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): remove dependency on groovy-all with required groovy package
  clouddriver-oracle/clouddriver-oracle.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: none

Add test for credential search bug, and a suggested fix
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(gce): fixed the error caused by account removal
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSecurityGroupCachingAgent.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSecurityGroupProvider.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSubnetProvider.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSecurityGroupCachingAgentSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgentSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSecurityGroupProviderSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSubnetProviderSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(ecr) Add test for credential search bug, and a suggested fix
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(test) Change regions to something reasonable for eu-west-1
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(test): Make the regions reasonable here too
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(ecr): Two credentials with same accountId confuses EcrImageProvider with different regions (#5885)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(ecr): Two credentials with same accountId confuses EcrImageProvider with different regions (#5885)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(ecr): Two credentials with same accountId confuses EcrImageProvider with different regions (#5885)
  clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProvider.java
  clouddriver-ecs/src/test/groovy/com/netflix/spinnaker/clouddriver/ecs/provider/view/EcrImageProviderSpec.groovy
Owners: none

fix(manifest-replicas): ReplicaSet Source-Capacity
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ResourceVersioner.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacity.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacityTest.java
Owners: @clanesf, @german-muzquiz

fix(aws): don't log empty warning BasicAmazonDeployDescriptionValidator.validate
  clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/validators/BasicAmazonDeployDescriptionValidator.groovy
Owners: @jeyrschabu, @aravindmd, @ajordens

fix(manifest-replicas): ReplicaSet Source-Capacity (#5874)
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ResourceVersioner.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacity.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacityTest.java
Owners: @clanesf, @german-muzquiz

fix(manifest-replicas): ReplicaSet Source-Capacity (#5874)
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ResourceVersioner.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacity.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacityTest.java
Owners: @clanesf, @german-muzquiz

fix(manifest-replicas): ReplicaSet Source-Capacity (#5874)
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/artifact/ResourceVersioner.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacity.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/manifest/KubernetesDeployManifestOperation.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/description/manifest/KubernetesSourceCapacityTest.java
Owners: @clanesf, @german-muzquiz

fix(helm): propagate throwable on helm error
  clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentials.java
  clouddriver-artifacts/src/test/java/com/netflix/spinnaker/clouddriver/artifacts/helm/HelmArtifactCredentialsTest.java
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5894)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5895)
  gradle.properties
Owners: none

fix(gce): fixed the error caused by account removal (#5882)
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSecurityGroupCachingAgent.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgent.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSecurityGroupProvider.groovy
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSubnetProvider.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSecurityGroupCachingAgentSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleSubnetCachingAgentSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSecurityGroupProviderSpec.groovy
  clouddriver-google/src/test/groovy/com/netflix/spinnaker/clouddriver/google/provider/view/GoogleSubnetProviderSpec.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5897)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5898)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5899)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5900)
  gradle.properties
Owners: none

fix(tests): Introduce junit vintage engine for junit4 test cases to kotlin-test.gradle, cleanup of useJUnitPlatform() from sub-modules and removing spek.gradle in clouddriver
  cats/cats-sql/cats-sql.gradle
  gradle/kotlin-test.gradle
  gradle/spek.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

Update Dockerfile.slim
  Dockerfile.slim
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

fix(cats-redis): release Semaphore to avoid leaking
  cats/cats-redis/cats-redis.gradle
  cats/cats-redis/src/main/java/com/netflix/spinnaker/cats/redis/cluster/ClusteredSortAgentScheduler.java
  cats/cats-redis/src/test/java/com/netflix/spinnaker/cats/redis/cluster/ClusteredSortAgentSchedulerTest.java
Owners: none

fix(core): Renamed a query parameter for template tags
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/services/Front50Service.groovy
Owners: @cfieber

fix(core): Renamed a query parameter for template tags (#5906)
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/services/Front50Service.groovy
Owners: @cfieber

fix(core): Renamed a query parameter for template tags (#5906)
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/services/Front50Service.groovy
Owners: @cfieber

fix(core): Renamed a query parameter for template tags (#5906)
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/services/Front50Service.groovy
Owners: @cfieber
