Repository spinnaker/clouddriver, changes with the owners that CODEOWNERS names for each.
All owners: @clanesf, @german-muzquiz, @Nirmalyasen, @plumpy, @rebala, @skandragon, @zachsmith1, @cfieber, @jeyrschabu, @aravindmd, @ajordens

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5831)
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump fiatVersion (#5832)
  gradle.properties
Owners: none

feat(kubernetes): add endpoints to allow k8s tasks to be retried by orca
  clouddriver-core-tck/src/main/java/com/netflix/spinnaker/clouddriver/core/test/TaskRepositoryTck.java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/orchestration/DefaultOrchestrationProcessor.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/data/task/DefaultTask.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/data/task/Task.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/data/task/jedis/JedisTask.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/data/task/jedis/JedisTaskTest.java
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/SqlTask.kt
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/SqlTaskRepository.kt
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/OperationsController.groovy
Owners: @cfieber

refactor(web): Clean up redundant spring property in gradle file
  clouddriver-web/clouddriver-web.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(dependencies): remove dependency on groovy-all where straightforward
  cats/cats-core/cats-core.gradle
  cats/cats-redis/cats-redis.gradle
  cats/cats-test/cats-test.gradle
  cats/cats.gradle
  clouddriver-alicloud/clouddriver-alicloud.gradle
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-core-tck/clouddriver-core-tck.gradle
  clouddriver-core/clouddriver-core.gradle
  clouddriver-dcos/clouddriver-dcos.gradle
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-elasticsearch/clouddriver-elasticsearch.gradle
  clouddriver-eureka/clouddriver-eureka.gradle
  clouddriver-google-common/clouddriver-google-common.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-huaweicloud/clouddriver-huaweicloud.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-lambda/clouddriver-lambda.gradle
  clouddriver-oracle/clouddriver-oracle.gradle
  clouddriver-security/clouddriver-security.gradle
  clouddriver-titus/clouddriver-titus.gradle
  clouddriver-web/clouddriver-web.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon, @clanesf, @german-muzquiz

test(integration): test red/black deployment
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

test(integration): test blue/green deployment
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

chore(dependency): Introducing kork-cloud-config-server dependency in clouddriver-web due to expected kork refactoring
  clouddriver-web/clouddriver-web.gradle
Owners: none

chore(dependencies): remove dependency on groovy-all where straightforward (#5840)
  cats/cats-core/cats-core.gradle
  cats/cats-redis/cats-redis.gradle
  cats/cats-test/cats-test.gradle
  cats/cats.gradle
  clouddriver-alicloud/clouddriver-alicloud.gradle
  clouddriver-appengine/clouddriver-appengine.gradle
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-aws/clouddriver-aws.gradle
  clouddriver-azure/clouddriver-azure.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
  clouddriver-cloudrun/clouddriver-cloudrun.gradle
  clouddriver-consul/clouddriver-consul.gradle
  clouddriver-core-tck/clouddriver-core-tck.gradle
  clouddriver-core/clouddriver-core.gradle
  clouddriver-dcos/clouddriver-dcos.gradle
  clouddriver-docker/clouddriver-docker.gradle
  clouddriver-ecs/clouddriver-ecs.gradle
  clouddriver-elasticsearch/clouddriver-elasticsearch.gradle
  clouddriver-eureka/clouddriver-eureka.gradle
  clouddriver-google-common/clouddriver-google-common.gradle
  clouddriver-google/clouddriver-google.gradle
  clouddriver-huaweicloud/clouddriver-huaweicloud.gradle
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-lambda/clouddriver-lambda.gradle
  clouddriver-oracle/clouddriver-oracle.gradle
  clouddriver-security/clouddriver-security.gradle
  clouddriver-titus/clouddriver-titus.gradle
  clouddriver-web/clouddriver-web.gradle
  clouddriver-yandex/clouddriver-yandex.gradle
Owners: @zachsmith1, @jeyrschabu, @aravindmd, @ajordens, @cfieber, @Nirmalyasen, @plumpy, @rebala, @skandragon, @clanesf, @german-muzquiz

chore(dependencies): Autobump korkVersion (#5837)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5836)
  gradle.properties
Owners: none

chore(dependencies): Autobump korkVersion (#5839)
  gradle.properties
Owners: none

feat(kubernetes): add endpoints to allow k8s tasks to be retried by orca (#5833)
  clouddriver-core-tck/src/main/java/com/netflix/spinnaker/clouddriver/core/test/TaskRepositoryTck.java
  clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/orchestration/DefaultOrchestrationProcessor.groovy
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/data/task/DefaultTask.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/data/task/Task.java
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/data/task/jedis/JedisTask.java
  clouddriver-core/src/test/java/com/netflix/spinnaker/clouddriver/data/task/jedis/JedisTaskTest.java
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/SqlTask.kt
  clouddriver-sql/src/main/kotlin/com/netflix/spinnaker/clouddriver/sql/SqlTaskRepository.kt
  clouddriver-web/src/main/groovy/com/netflix/spinnaker/clouddriver/controllers/OperationsController.groovy
Owners: @cfieber

chore(dependencies): Autobump korkVersion (#5838)
  gradle.properties
Owners: none

refactor(web): Clean up redundant spring property in gradle file (#5834)
  clouddriver-web/clouddriver-web.gradle
Owners: none

fix(web): add kork-cloud-config-server dependency due to kork refactoring
  clouddriver-web/clouddriver-web.gradle
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

Revert "feat(k8s): Add Deployment Kind support for Blue/Green deployments (#5830)"
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/handler/KubernetesDeploymentHandler.java
Owners: @clanesf, @german-muzquiz

chore(dependencies): Autobump spinnakerGradleVersion
  gradle.properties
Owners: none

typo, remove jetbrains annotation
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

test(integration): Prevent interference between tests
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

refactor(it): extract generateManifestName()
  clouddriver-kubernetes/src/integration/java/com/netflix/spinnaker/clouddriver/kubernetes/it/DeployManifestIT.java
Owners: @clanesf, @german-muzquiz

added null check for autoscaler custom metric scaling policies
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/StandardGceAttributeValidator.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

chore(dependencies): pin version of com.github.tomakehurst:wiremock
  clouddriver-artifacts/clouddriver-artifacts.gradle
  clouddriver-cloudfoundry/clouddriver-cloudfoundry.gradle
Owners: @zachsmith1

feat(gke): Enables gcloud auth plugin for 1.26+ GKE clusters
  Dockerfile.ubuntu
Owners: none

feat(gke): Bump google cloud sdk and add the plugin for GKE 1.26+
  Dockerfile.slim
Owners: none

fix(permissions): added previous verification to extend sub cases
  clouddriver-core/src/main/java/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerService.java
  clouddriver-core/src/test/groovy/com/netflix/spinnaker/clouddriver/deploy/DescriptionAuthorizerServiceSpec.groovy
Owners: @cfieber

fix(google): added null check for autoscaler custom metric scaling policies
  clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/validators/StandardGceAttributeValidator.groovy
Owners: @Nirmalyasen, @plumpy, @rebala, @skandragon

feat(gke): Enables gcloud auth plugin for 1.26+ GKE clusters (#5847)
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

feat(gke): Enables gcloud auth plugin for 1.26+ GKE clusters (#5847)
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

feat(gke): Enables gcloud auth plugin for 1.26+ GKE clusters (#5847)
  Dockerfile.slim
  Dockerfile.ubuntu
Owners: none

chore(dependencies): Autobump korkVersion
  gradle.properties
Owners: none

chore(kubernetes/test): actually run the junit tests
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
Owners: @clanesf, @german-muzquiz

fix(kubectl): reduce duplicate retry log messages and add retry metrics
  clouddriver-kubernetes/clouddriver-kubernetes.gradle
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/config/KubernetesConfigurationProperties.java
  clouddriver-kubernetes/src/main/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutor.java
  clouddriver-kubernetes/src/test/java/com/netflix/spinnaker/clouddriver/kubernetes/op/job/KubectlJobExecutorTest.java
Owners: @clanesf, @german-muzquiz

CODEOWNERS:

clouddriver-kubernetes/    @clanesf @german-muzquiz
clouddriver-google/        @Nirmalyasen @plumpy @rebala @skandragon
clouddriver-cloudfoundry/  @zachsmith1
clouddriver-appengine/     @zachsmith1
clouddriver-lambda/        @zachsmith1

clouddriver-saga/          @cfieber
clouddriver-core/          @cfieber

clouddriver-aws/           @jeyrschabu @aravindmd @ajordens
clouddriver-titus/         @jeyrschabu @aravindmd @ajordens
